Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/fpgmaas/deptry
    rev: 0.24.0
    hooks:
      - id: deptry

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, api/, scripts/]

  # TypeScript type check for mobile (requires npm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

fix(api): handle structured ingredient dicts from Gemini AI (#211)
  api/models/recipe.py
  api/routers/recipes.py
  api/services/recipe_enhancer.py
  tests/test_recipe.py
  tests/test_recipe_mapper.py
Due: ty

fix: assign exception message to variable for ruff EM101/TRY003
  api/models/admin.py
Due: ty

Refactor/household scoped data (#208)
  api/models/admin.py
  api/routers/admin.py
  api/storage/household_storage.py
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/lib/hooks/use-admin.ts
  tests/test_api_admin.py
  tests/test_household_storage.py
Due: ty, tsc-mobile

Refactor/household scoped data (#208)
  .tmp_git_status.sh
  api/models/admin.py
  api/routers/admin.py
  api/storage/household_storage.py
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/lib/hooks/use-admin.ts
  tests/test_api_admin.py
  tests/test_household_storage.py
Due: ty, tsc-mobile

feat: replace equipment toggles with tag-based catalog selector
  .github/skills/recipe-improvement/equipment.md
  api/models/equipment.py
  api/models/settings.py
  api/routers/recipes.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/user/equipment.md
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  mobile/test/setup.ts
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
Due: ty, tsc-mobile

fix: harden equipment validation against non-string keys
  api/models/equipment.py
  tests/test_equipment.py
Due: ty

refactor: equipment UI from FilterChip to items-at-home style
  mobile/app/household-settings.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

fix: address PR review comments on equipment validation and test
  api/models/settings.py
  mobile/app/__tests__/household-settings.test.tsx
  tests/test_equipment.py
Due: ty, tsc-mobile

feat: add pasta machine, pizza oven, pizza stone, outdoor grill to equipment
  api/models/equipment.py
  mobile/app/household-settings.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_equipment.py
Due: ty, tsc-mobile

feat: replace equipment toggles with tag-based catalog selector (#213)
  .github/skills/recipe-improvement/equipment.md
  api/models/equipment.py
  api/models/settings.py
  api/routers/recipes.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/user/equipment.md
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  mobile/test/setup.ts
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
Due: ty, tsc-mobile

fix: UI quick fixes for icons, buttons, and AI sections
  .github/skills/pr-review-workflow/SKILL.md
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/select-recipe/RandomTab.tsx
Due: tsc-mobile

fix: keep grocery input open after adding item, reset recipe filter on entry
  mobile/app/(tabs)/grocery.tsx
  mobile/lib/hooks/useSelectRecipeState.ts
Due: tsc-mobile

fix: settings icon visibility and AI section toggle improvements
  mobile/app/(tabs)/index.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
Due: tsc-mobile

fix: address PR review - disable shuffle while pending, use theme token, fix skill doc
  .github/skills/pr-review-workflow/SKILL.md
  mobile/app/(tabs)/index.tsx
  mobile/components/select-recipe/RandomTab.tsx
Due: tsc-mobile

fix: UI quick fixes for icons, grocery input, and AI sections (#231)
  .github/skills/pr-review-workflow/SKILL.md
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/hooks/useSelectRecipeState.ts
Due: tsc-mobile

feat: mobile UX improvements - navigation, meal editing, stats, search
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/__tests__/tab-routes.test.ts
  mobile/app/_layout.tsx
  mobile/app/add-recipe.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/lib/hooks/useHomeScreenData.ts
Due: tsc-mobile

fix: count only current week meals for planned percentage
  mobile/lib/hooks/useHomeScreenData.ts
Due: tsc-mobile

feat: add week start setting (Monday/Saturday) to household settings
  api/models/settings.py
  mobile/app/(tabs)/settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  mobile/lib/utils/dateFormatter.ts
Due: ty, tsc-mobile

fix: translate weekday names in plan meal modal using app language
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/PlanMealModal.tsx
Due: tsc-mobile

refactor: extract WEEKLY_TRACKABLE_MEALS constant and cap percentage at 100%
  mobile/components/home/StatsCards.tsx
  mobile/lib/hooks/useHomeScreenData.ts
Due: tsc-mobile

feat: mobile UX improvements (navigation, editing, stats, search) (#232)
  api/models/settings.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/tab-routes.test.ts
  mobile/app/_layout.tsx
  mobile/app/add-recipe.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/recipe-detail/PlanMealModal.tsx
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  mobile/lib/utils/dateFormatter.ts
Due: ty, tsc-mobile

feat: persist recipe filters, show visibility icons, edit household name
  mobile/app/(tabs)/recipes.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/api/admin.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

fix: remove card visibility icons, household size, revert filter persistence
  mobile/app/(tabs)/recipes.tsx
  mobile/app/household-settings.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

test: add coverage for useRenameHousehold hook
  mobile/lib/hooks/__tests__/use-admin.test.ts
Due: tsc-mobile

feat: recipe UX polish - visibility icons, edit household name (#233)
  mobile/app/(tabs)/recipes.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/api/admin.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

feat(grocery): add clear by source - meal plan vs manual items
  mobile/app/(tabs)/grocery.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

fix(grocery): clear checked items and servings when clearing by source
  api/models/recipe.py
  api/routers/recipes.py
  mobile/app/(tabs)/grocery.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/types.ts
  tests/test_api_recipes.py
Due: ty, tsc-mobile

feat(grocery): clear items by source (meal plan vs manual) (#235)
  api/models/recipe.py
  api/routers/recipes.py
  mobile/app/(tabs)/grocery.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_recipes.py
Due: ty, tsc-mobile

chore: change ingredient ordering from category-based to use-order
  .github/skills/recipe-improvement/SKILL.md
  api/models/equipment.py
  api/routers/recipes.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  pyproject.toml
  scripts/recipe_enhancer.py
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_recipe_enhancer.py
  tools/recipe_manager.py
Due: ty

fix: address PR review comments - type coercion, defensive coding, tests
  api/routers/recipes.py
  api/services/prompt_loader.py
  api/storage/grocery_list_storage.py
  api/storage/recipe_queries.py
  config/prompts/locales/sv.md
  tests/test_api_recipes.py
  tests/test_prompt_loader.py
  tools/recipe_manager.py
Due: ty

refactor: templatize prompts and parameterize household settings (#236)
  .github/skills/recipe-improvement/SKILL.md
  api/models/equipment.py
  api/routers/recipes.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  api/storage/grocery_list_storage.py
  api/storage/recipe_queries.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  pyproject.toml
  scripts/recipe_enhancer.py
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
  tools/recipe_manager.py
Due: ty

feat: dynamic dietary config from Firestore household settings
  api/routers/recipes.py
  api/services/dietary_prompt_builder.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/locales/en.md
  config/prompts/locales/it.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  scripts/batch_test.py
  scripts/validate_gemini.py
  tests/test_api_recipes.py
  tests/test_dietary_prompt_builder.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
  tools/recipe_manager.py
Due: ty

fix: resolve all 74 ty type-checker diagnostics
  functions/scrape_recipe/main.py
  functions/scrape_recipe/recipe_scraper.py
  tests/test_api_admin.py
  tests/test_api_grocery.py
  tests/test_api_grocery_state.py
  tests/test_api_meal_plans.py
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_recipe.py
  tests/test_recipe_mapper.py
  tools/recipe_manager.py
Due: ty
