Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - app/
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
  language: system
  pass_filenames: false

fix(mobile): use fontFamily instead of fontWeight for consistent fonts (#195)
  mobile/components/RecipeCard.tsx
  mobile/components/recipes/RecipeFilters.tsx
Due: tsc-mobile

feat: add enhancement review flow with approve/reject actions
  .github/instructions/firestore.instructions.md
  api/models/recipe.py
  api/models/settings.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  pyproject.toml
  scripts/backfill_enhancement_review.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty

docs: add guideline to communicate scope decisions upfront
  .github/copilot-instructions.md
Due: none

fix: address PR review comments
  .github/instructions/firestore.instructions.md
  api/storage/recipe_storage.py
  scripts/backfill_enhancement_review.py
Due: ty

docs: add component-level equipment optimization to skills and prompts
  .github/skills/recipe-improvement/SKILL.md
  config/prompts/core/base.md
  config/prompts/user/equipment.md
Due: none

fix: remove shebang from backfill script
  scripts/backfill_enhancement_review.py
Due: ty

feat: add enhancement review flow with approve/reject actions (#193)
  .github/copilot-instructions.md
  .github/instructions/firestore.instructions.md
  .github/skills/recipe-improvement/SKILL.md
  api/models/recipe.py
  api/models/settings.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  config/prompts/core/base.md
  config/prompts/user/equipment.md
  pyproject.toml
  scripts/backfill_enhancement_review.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty

fix(mobile): load DM Sans via Google Fonts CSS for web
  mobile/global.css
  mobile/lib/theme.ts
  mobile/lib/theme/typography.ts
Due: tsc-mobile

fix(mobile): load DM Sans via Google Fonts CSS for web (#196)
  mobile/global.css
  mobile/lib/theme.ts
  mobile/lib/theme/typography.ts
Due: tsc-mobile

fix(mobile): UI refinements for deployed version
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
Due: tsc-mobile

fix(mobile): harmonize admin/household pages with warm theme
  mobile/app/(tabs)/admin.tsx
Due: tsc-mobile

fix(mobile): UI refinements and theme harmonization (#197)
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
Due: tsc-mobile

feat(mobile): add enhancement review UI
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/recipe-detail/EnhancementReviewBanner.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
Due: tsc-mobile

fix: wrap blurhash placeholders in object format for expo-image web compatibility
  mobile/app/(tabs)/index.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
Due: tsc-mobile

fix(mobile): UI refinements round 3
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/RecipeCard.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
Due: tsc-mobile

feat: locale-aware Gemini prompts based on household language
  api/routers/recipes.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/locales/en.md
  config/prompts/locales/it.md
  config/prompts/locales/sv.md
  config/prompts/user/language.md
  scripts/recipe_enhancer.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
Due: ty

feat(mobile): add enhance recipe button for existing recipes
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

fix: improve UK and Italian locale accuracy
  config/prompts/locales/en.md
  config/prompts/locales/it.md
Due: none

feat: always-on recipe enhancement, remove feature toggle
  .github/skills/pr-review-workflow/SKILL.md
  api/routers/recipes.py
  api/services/recipe_enhancer.py
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/cloud_run/main.tf
  infra/modules/cloud_run/variables.tf
  tests/test_api_recipes.py
  tests/test_recipe_enhancer.py
Due: ty

fix: address PR review comments and CI failures
  api/routers/recipes.py
  api/services/recipe_enhancer.py
  infra/environments/dev/main.tf
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_api_recipes.py
  tests/test_recipe_enhancer.py
Due: ty, tsc-mobile

feat: enhancement review UI, enhance trigger, and locale-aware Gemini prompts (#199)
  .github/skills/pr-review-workflow/SKILL.md
  api/routers/recipes.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/locales/en.md
  config/prompts/locales/it.md
  config/prompts/locales/sv.md
  config/prompts/user/language.md
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/cloud_run/main.tf
  infra/modules/cloud_run/variables.tf
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/recipe-detail/EnhancementReviewBanner.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  scripts/recipe_enhancer.py
  tests/test_api_recipes.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
Due: ty, tsc-mobile

fix(mobile): UI polish - shadows, padding, tab bar, member management
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/household-settings.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/select-recipe/CopyMealTab.tsx
  mobile/components/select-recipe/LibraryTab.tsx
  mobile/components/select-recipe/QuickMealTab.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/theme/layout.ts
Due: tsc-mobile

fix: address PR #199 review comments
  api/routers/recipes.py
  api/services/recipe_enhancer.py
  infra/environments/dev/main.tf
  infra/modules/cloud_run/main.tf
  infra/modules/firestore/main.tf
  mobile/app/(tabs)/recipe/[id].tsx
  tests/test_recipe_enhancer.py
Due: ty, tsc-mobile

docs: remove copilot-review GHA automation from PR skill
  .github/skills/pr-review-workflow/SKILL.md
Due: none

fix: add type guard for ingredients normalization and fix test class
  api/services/recipe_enhancer.py
  tests/test_recipe_enhancer.py
Due: ty

feat: enhancement review UI, locale prompts, and PR #199 fixes (#200)
  .github/skills/pr-review-workflow/SKILL.md
  api/routers/recipes.py
  api/services/recipe_enhancer.py
  infra/environments/dev/main.tf
  infra/modules/cloud_run/main.tf
  infra/modules/firestore/main.tf
  mobile/app/(tabs)/recipe/[id].tsx
  tests/test_recipe_enhancer.py
Due: ty, tsc-mobile

fix: include config/prompts in Docker image
  Dockerfile
  api/services/prompt_loader.py
  tests/test_prompt_loader.py
Due: ty

fix: include config/prompts in Docker image (#201)
  Dockerfile
  api/services/prompt_loader.py
  tests/test_prompt_loader.py
Due: ty

fix: address PR review - merge writes, preserve original on re-enhance
  api/storage/recipe_storage.py
  tests/test_recipe_storage.py
Due: ty

fix: snapshot original recipe data before enhancement overwrite
  api/storage/recipe_storage.py
  tests/test_recipe_storage.py
Due: ty

fix: snapshot original recipe data before enhancement overwrite (#202)
  api/storage/recipe_storage.py
  tests/test_recipe_storage.py
Due: ty

fix(mobile): address Copilot review comments
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/RecipeCard.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
Due: tsc-mobile

fix(mobile): remove unused imports and variables
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/components/RecipeCard.tsx
Due: tsc-mobile

Path conditions:
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
