Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - app/
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
  language: system
  pass_filenames: false

fix: address PR review comments on alert utility
  mobile/lib/alert.ts
Due: tsc-mobile

fix: address second round of PR review comments
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/alert.ts
Due: tsc-mobile

refactor: migrate all Alert.alert usages to centralized alert utility
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/household-settings.tsx
  mobile/app/no-access.tsx
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

fix: Web platform Alert.alert and legacy recipe editing (#125)
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/household-settings.tsx
  mobile/app/no-access.tsx
  mobile/lib/alert.ts
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

docs: add ICA API references for shopping list integration
  .github/copilot-references.md
Due: none

feat(mobile): polish recipe detail page with glass UI, mirrored backgrounds, and warm theme
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/assets/images/background2.png
  mobile/components/MirroredBackground.tsx
  mobile/lib/theme.ts
Due: tsc-mobile

feat: glass tab bar, email normalization, font fixes and auth redirect
  api/models/recipe.py
  api/storage/household_storage.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/sign-in.tsx
  mobile/components/GradientBackground.tsx
Due: ty, tsc-mobile

fix: address review comments - trailing ws, types, aspect ratio, ownership guard
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/MirroredBackground.tsx
  mobile/lib/theme.ts
Due: tsc-mobile

feat(mobile): recipe detail page glass UI polish (#126)
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/assets/images/background2.png
  mobile/components/MirroredBackground.tsx
  mobile/lib/theme.ts
Due: tsc-mobile

fix: address PR review - lint fixes, email normalization, rating tests
  api/models/recipe.py
  api/routers/admin.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/MirroredBackground.tsx
  mobile/lib/theme.ts
  tests/test_api_admin.py
  tests/test_household_storage.py
  tests/test_recipe.py
Due: ty, tsc-mobile

fix: trailing whitespace and ruff format
  api/storage/household_storage.py
  mobile/components/GradientBackground.tsx
Due: ty, tsc-mobile

feat: glass tab bar, email normalization and font fixes (#127)
  api/models/recipe.py
  api/routers/admin.py
  api/storage/household_storage.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/sign-in.tsx
  mobile/components/GradientBackground.tsx
  tests/test_api_admin.py
  tests/test_household_storage.py
  tests/test_recipe.py
Due: ty, tsc-mobile

refactor: consolidate to single meal-planner database
  .github/copilot-instructions.md
  .github/firestore.instructions.md
  .github/skills/recipe-improvement/SKILL.md
  api/main.py
  api/routers/admin.py
  api/routers/recipes.py
  api/storage/firestore_client.py
  api/storage/household_storage.py
  api/storage/recipe_storage.py
  infra/environments/dev/terraform.tfvars.example
  infra/modules/firebase/variables.tf
  infra/modules/firestore/main.tf
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/_layout.tsx
  mobile/lib/api.ts
  mobile/lib/enhanced-mode-context.tsx
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/use-recipes.ts
  scripts/check_consolidation.py
  scripts/check_db.py
  scripts/check_id.py
  scripts/consolidate_databases.py
  scripts/migrate_to_household.py
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
  scripts/test_gemini.py
  scripts/upload_enhanced_recipe.py
  tests/test_api_admin.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

fix: address second round of PR review comments
  api/routers/recipes.py
  mobile/app/(tabs)/recipe/[id].tsx
  scripts/recipe_reviewer.py
Due: ty, tsc-mobile

refactor: consolidate to single meal-planner database (#128)
  .github/copilot-instructions.md
  .github/copilot-references.md
  .github/firestore.instructions.md
  .github/skills/recipe-improvement/SKILL.md
  api/main.py
  api/routers/admin.py
  api/routers/recipes.py
  api/storage/firestore_client.py
  api/storage/household_storage.py
  api/storage/recipe_storage.py
  infra/environments/dev/terraform.tfvars.example
  infra/modules/firebase/variables.tf
  infra/modules/firestore/main.tf
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/_layout.tsx
  mobile/lib/api.ts
  mobile/lib/enhanced-mode-context.tsx
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/use-recipes.ts
  scripts/check_consolidation.py
  scripts/check_db.py
  scripts/check_id.py
  scripts/consolidate_databases.py
  scripts/migrate_to_household.py
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
  scripts/test_gemini.py
  scripts/upload_enhanced_recipe.py
  tests/test_api_admin.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

chore: remove hardcoded project IDs and gitignore sensitive configs
  .gitignore
  infra/environments/dev/backend.tf
  infra/environments/dev/backend.tf.example
  mobile/.firebaserc
  mobile/.firebaserc.example
  mobile/scripts/setup-env.ps1
  mobile/scripts/setup-env.sh
Due: none

fix: compute CORS origins from Terraform outputs instead of hardcoding
  .github/workflows/cloud-run-deploy.yml
  infra/environments/dev/main.tf
  infra/environments/dev/variables.tf
Due: none

fix: compute CORS origins from Terraform outputs instead of hardcoding (#129)
  .github/workflows/cloud-run-deploy.yml
  infra/environments/dev/main.tf
  infra/environments/dev/variables.tf
Due: none

fix: remove env var fallbacks, require explicit configuration
  .github/skills/local-development/SKILL.md
  api/main.py
  api/routers/recipes.py
  api/storage/household_storage.py
  docs/DEVELOPMENT.md
  infra/environments/dev/variables.tf
  scripts/consolidate_recipes.py
  scripts/fix_embedded_image.py
  scripts/manage_households.py
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
  scripts/upload_enhanced_recipe.py
  tests/conftest.py
  tests/test_api_main.py
Due: ty

fix: remove env var fallbacks, require explicit configuration (#130)
  .github/skills/local-development/SKILL.md
  api/main.py
  api/routers/recipes.py
  api/storage/household_storage.py
  docs/DEVELOPMENT.md
  infra/environments/dev/variables.tf
  scripts/consolidate_recipes.py
  scripts/fix_embedded_image.py
  scripts/manage_households.py
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
  scripts/upload_enhanced_recipe.py
  tests/conftest.py
  tests/test_api_main.py
Due: ty

refactor: remove enhanced_from and legacy enhancement field coupling
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/types.ts
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

refactor: remove enhanced_from and legacy enhancement field coupling (#131)
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/types.ts
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

fix: prevent 403 for non-superuser members viewing recipes
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/settings.tsx
  mobile/lib/hooks/use-admin.ts
Due: tsc-mobile

fix: prevent 403 for non-superuser members viewing recipes (#136)
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/settings.tsx
  mobile/lib/hooks/use-admin.ts
Due: tsc-mobile

test: add Vitest infrastructure and mobile unit tests
  .gitignore
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/__tests__/settings.test.tsx
  mobile/biome.json
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/test/helpers.ts
  mobile/test/mocks/react-native.ts
  mobile/test/setup.ts
  mobile/vitest.config.ts
Due: tsc-mobile

fix: make household settings read-only for non-admin members
  mobile/app/household-settings.tsx
Due: tsc-mobile

ci: add mobile test job and update copilot instructions
  .github/copilot-instructions.md
  .github/workflows/tests.yml
Due: none

fix: address PR review comments
  .github/workflows/tests.yml
  mobile/test/mocks/react-native.ts
Due: tsc-mobile

test: add mobile Vitest testing infrastructure (#137)
  .github/copilot-instructions.md
  .github/workflows/tests.yml
  .gitignore
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/__tests__/settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/biome.json
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/test/helpers.ts
  mobile/test/mocks/react-native.ts
  mobile/test/setup.ts
  mobile/vitest.config.ts
Due: tsc-mobile

fix: change Lunch/Dinner label to dark brown for unassigned meals
  mobile/app/(tabs)/meal-plan.tsx
Due: tsc-mobile

test: expand mobile test coverage to 85%
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/__tests__/no-access.test.tsx
  mobile/app/__tests__/sign-in.test.tsx
  mobile/lib/__tests__/alert.test.ts
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/use-grocery.test.ts
  mobile/lib/hooks/__tests__/use-meal-plan.test.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/vitest.config.ts
Due: tsc-mobile

docs: update project structure and test commands for mobile coverage
  .github/copilot-instructions.md
  docs/DEVELOPMENT.md
Due: none

Path conditions:
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
