Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/fpgmaas/deptry
    rev: 0.24.0
    hooks:
      - id: deptry

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, api/, scripts/]

  # TypeScript type check for mobile (requires npm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

fix(mobile): use signInWithRedirect instead of popup (#57)
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

feat(mobile): improve sign-in page design
  mobile/app/sign-in.tsx
Due: tsc-mobile

feat(mobile): improve sign-in page design (#58)
  mobile/app/sign-in.tsx
Due: tsc-mobile

fix(mobile): add NativeWind babel preset for CSS styling
  mobile/app/sign-in.tsx
  mobile/babel.config.js
  mobile/components/GoogleLogo.tsx
Due: tsc-mobile

fix(mobile): add NativeWind babel preset for CSS styling (#59)
  mobile/app/sign-in.tsx
  mobile/babel.config.js
  mobile/components/GoogleLogo.tsx
Due: tsc-mobile

fix(mobile): add react-native-svg for GoogleLogo component
  mobile/package-lock.json
  mobile/package.json
Due: none

fix(mobile): wait for getRedirectResult before showing sign-in
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

fix(mobile): use signInWithPopup for web auth
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

fix(mobile): use signInWithPopup for web auth (#60)
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

fix: add production origins to CORS allowed list
  api/main.py
Due: ty

fix: add production origins to CORS allowed list (#61)
  api/main.py
Due: ty

fix: enable Cloud Run public access and add font extensions to hosting
  infra/environments/dev/main.tf
  mobile/firebase.json
Due: none

fix: enable Cloud Run public access and add font extensions to hosting (#62)
  infra/environments/dev/main.tf
  mobile/firebase.json
Due: none

fix: load Ionicons font explicitly for web compatibility
  mobile/app/_layout.tsx
Due: tsc-mobile

fix: load Ionicons font explicitly for web compatibility (#63)
  mobile/app/_layout.tsx
Due: tsc-mobile

fix: downgrade tailwindcss to v3 for NativeWind compatibility
  mobile/package-lock.json
  mobile/package.json
  renovate.json
Due: none

fix: downgrade tailwindcss to v3 for NativeWind compatibility (#64)
  mobile/package-lock.json
  mobile/package.json
  renovate.json
Due: none

fix: bundle Ionicons font in public/ for web export
  .github/workflows/firebase-hosting.yml
  mobile/app/_layout.tsx
  mobile/package.json
  mobile/public/fonts/Ionicons.ttf
Due: tsc-mobile

fix: bundle Ionicons font in public/ for web export (#65)
  .github/workflows/firebase-hosting.yml
  mobile/app/_layout.tsx
  mobile/package.json
  mobile/public/fonts/Ionicons.ttf
Due: tsc-mobile

docs: add mobile web deployment pitfalls to copilot-instructions
  .github/copilot-instructions.md
Due: none

docs: add mobile web deployment pitfalls to copilot-instructions (#66)
  .github/copilot-instructions.md
Due: none

docs: add soy sauce type clarification and vague ingredient rules
  .github/skills/recipe-improvement/household-config.md
Due: none

chore: refine recipe skill, add upload command, fix Firebase config
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/household-config.md
  infra/modules/firebase/main.tf
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
Due: ty

feat: add SKIP_AUTH for local development
  api/auth/firebase.py
  docs/DEVELOPMENT.md
Due: ty

docs: add Firestore schema and fix scripts to include timestamps
  .github/copilot-instructions.md
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
Due: ty

feat: add SKIP_AUTH for local development (#68)
  .github/copilot-instructions.md
  api/auth/firebase.py
  docs/DEVELOPMENT.md
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
Due: ty

feat: add AI-enhanced recipe toggle
  api/models/recipe.py
  api/storage/recipe_storage.py
  mobile/app/recipe/[id].tsx
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/types.ts
  scripts/create_recipe.py
Due: ty, tsc-mobile

chore: refine recipe skill, add upload command, fix Firebase config (#67)
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/household-config.md
  infra/modules/firebase/main.tf
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
Due: ty
