Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

deptry:
  name: deptry
  entry: uv run deptry .
  language: system
  pass_filenames: false

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
  language: system
  pass_filenames: false

biome:
  name: Biome (mobile)
  entry: pnpm -C mobile exec biome check
  language: system
  pass_filenames: false

refactor(mobile): tokenize remaining color literals and shadow presets
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/components/BottomSheetModal.tsx
  mobile/components/EnhancingOverlay.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/SectionHeader.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/household-settings/CollapsibleSection.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/recipe-detail/ImageUrlModal.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeIngredientsList.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/components/recipe-detail/ThumbRating.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
Due: tsc-mobile, biome

fix(mobile): import colors from theme barrel instead of direct path
  mobile/components/BottomSheetModal.tsx
Due: tsc-mobile, biome

fix(mobile): add missing color tokens to Vitest theme mock
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor(mobile): tokenize remaining color literals and shadow presets (#254)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/components/BottomSheetModal.tsx
  mobile/components/EnhancingOverlay.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/SectionHeader.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/household-settings/CollapsibleSection.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/recipe-detail/ImageUrlModal.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeIngredientsList.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/components/recipe-detail/ThumbRating.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor(mobile): unify diet palette, fix theme mock, and add diet card tokens
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/recipe-detail/recipe-detail-constants.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/styles.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor(mobile): unify diet palette, fix theme mock, and add diet card tokens (#256)
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/recipe-detail/recipe-detail-constants.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/styles.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor(mobile): link theme values to tokens instead of raw numbers
  mobile/app/(tabs)/admin.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/RecipeCard.tsx
  mobile/components/SectionHeader.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/CollapsibleSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/recipe-detail/RecipeIngredientsList.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/components/select-recipe/CopyMealTab.tsx
  mobile/components/select-recipe/LibraryTab.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

chore: auto-fix biome formatting in pre-commit hook
  .pre-commit-config.yaml
Due: none

refactor(mobile): link theme values to tokens instead of raw numbers (#258)
  .pre-commit-config.yaml
  mobile/app/(tabs)/admin.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/RecipeCard.tsx
  mobile/components/SectionHeader.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/CollapsibleSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/recipe-detail/RecipeIngredientsList.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/components/select-recipe/CopyMealTab.tsx
  mobile/components/select-recipe/LibraryTab.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: flat note icon styling and customizable note suggestions
  api/models/settings.py
  mobile/app/household-settings.tsx
  mobile/components/household-settings/NoteSuggestionsSection.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/household-settings/index.ts
  mobile/components/meal-plan/DayHeader.tsx
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  mobile/test/setup.ts
  tests/test_api_admin.py
  tests/test_equipment.py
Due: deptry, ty, tsc-mobile, biome

refactor: centralize tag dot colors in theme and split note pills
  mobile/components/household-settings/NoteSuggestionsSection.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/recipe-detail/RecipeMetaLabels.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/theme/colors.ts
Due: tsc-mobile, biome

refactor: replace emoji with colored dots in diet chips and note tags
  mobile/components/ChipPicker.tsx
  mobile/components/FilterChip.tsx
  mobile/components/__tests__/ChipPicker.test.tsx
  mobile/components/__tests__/FilterChip.test.tsx
  mobile/components/household-settings/NoteSuggestionsSection.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/RecipeMetaLabels.tsx
  mobile/components/recipe-detail/recipe-detail-constants.ts
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/select-recipe/RandomTab.tsx
Due: tsc-mobile, biome

fix: address Copilot review comments and add theme pre-flight checklist
  .github/instructions/tsx-style-guide.instructions.md
  mobile/components/ChipPicker.tsx
  mobile/components/household-settings/NoteSuggestionsSection.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/recipe-detail/RecipeMetaLabels.tsx
  mobile/components/recipe-detail/recipe-detail-constants.ts
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/theme.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: flat note styling, customizable suggestions, emoji to colored dots (#255)
  .github/instructions/tsx-style-guide.instructions.md
  api/models/settings.py
  mobile/app/household-settings.tsx
  mobile/components/ChipPicker.tsx
  mobile/components/FilterChip.tsx
  mobile/components/__tests__/ChipPicker.test.tsx
  mobile/components/__tests__/FilterChip.test.tsx
  mobile/components/household-settings/NoteSuggestionsSection.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/household-settings/index.ts
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/RecipeMetaLabels.tsx
  mobile/components/recipe-detail/recipe-detail-constants.ts
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/lib/types.ts
  mobile/test/setup.ts
  tests/test_api_admin.py
  tests/test_equipment.py
Due: deptry, ty, tsc-mobile, biome

refactor(mobile): replace repeated patterns with shared presets and tokens
  mobile/app/(tabs)/recipes.tsx
  mobile/app/add-recipe.tsx
  mobile/app/select-recipe.tsx
  mobile/components/FilterChip.tsx
  mobile/components/FormField.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/add-recipe/ManualRecipeForm.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/recipe-detail/HouseholdTransfer.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeIngredientsList.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipe-detail/RecipeLoadingStates.tsx
  mobile/components/recipe-detail/RecipeMetaLabels.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/components/recipe-detail/ThumbRating.tsx
  mobile/components/select-recipe/CopyMealTab.tsx
  mobile/components/select-recipe/QuickMealTab.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/components/settings/FooterSections.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/styles.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: use proper theme tokens in style presets
  mobile/lib/theme/styles.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: replace raw values in PR #255 files with theme tokens
  mobile/components/FilterChip.tsx
  mobile/components/household-settings/NoteSuggestionsSection.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/select-recipe/RandomTab.tsx
Due: tsc-mobile, biome

feat: copy shared recipes to household before editing or enhancing
  .github/instructions/firestore.instructions.md
  api/models/recipe.py
  api/routers/recipe_enhancement.py
  api/storage/recipe_queries.py
  api/storage/recipe_storage.py
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

test(mobile): add note suggestion tests and tune coverage exclusions
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/vitest.config.ts
Due: tsc-mobile, biome

fix: add content.headingMuted token preserving semi-transparent date color
  mobile/components/meal-plan/DayHeader.tsx
  mobile/lib/theme/colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: copy shared recipes to household before editing or enhancing (#261)
  .github/instructions/firestore.instructions.md
  api/models/recipe.py
  api/routers/recipe_enhancement.py
  api/storage/recipe_queries.py
  api/storage/recipe_storage.py
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

refactor: replace off-scale spacing and borderRadius values with tokens
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/select-recipe.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/Skeleton.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: update borderRadius comment to reflect current scale
  mobile/lib/theme/layout.ts
Due: tsc-mobile, biome

refactor: replace off-scale spacing and borderRadius values with tokens (#266)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/select-recipe.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/Skeleton.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: pre-save review page and enhancement review modal (#262, #265)
  api/models/recipe.py
  api/routers/recipe_scraping.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  mobile/app/add-recipe.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/review-recipe.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/recipe-detail/EnhancementReviewModal.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useAddRecipeActions.test.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/types.ts
  tests/test_api_recipes.py
Due: deptry, ty, tsc-mobile, biome

refactor: migrate color hierarchy to semantic tokens
  mobile/app/(tabs)/recipes.tsx
  mobile/app/_layout.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/CollapsibleSection.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeTags.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/components/settings/FooterSections.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/lib/theme/colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: migrate color hierarchy to semantic tokens (#268)
  mobile/app/(tabs)/recipes.tsx
  mobile/app/_layout.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/CollapsibleSection.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeTags.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/components/settings/FooterSections.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/lib/theme/colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: simplify EnhancementReviewModal to single approve/reject
  mobile/components/recipe-detail/EnhancementReviewModal.tsx
Due: tsc-mobile, biome

refactor: tokenize remaining inline colors and shadows
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/no-access.tsx
  mobile/app/sign-in.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RadioGroup.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/add-recipe/ManualRecipeForm.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/grocery/ClearMenu.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/recipe-detail/RecipeLoadingStates.tsx
  mobile/components/recipe-detail/TagEditor.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: use real boxShadow strings in test shadow mock
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: tokenize remaining inline colors and shadows (#270)
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/no-access.tsx
  mobile/app/sign-in.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RadioGroup.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/add-recipe/ManualRecipeForm.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/grocery/ClearMenu.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/recipe-detail/RecipeLoadingStates.tsx
  mobile/components/recipe-detail/TagEditor.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: add layout.contentMaxWidth token and constrain all screens to uniform width
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/add-recipe.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: extract layout.contentContainer preset and fix FloatingTabBar overflow
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/add-recipe.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: add layout.contentMaxWidth token and constrain all screens to uniform width (#271)
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/add-recipe.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: recipe copy dedup with root resolution, sibling hiding, and visibility guard
  api/routers/recipes.py
  api/storage/recipe_queries.py
  api/storage/recipe_storage.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: deptry, ty

fix: _resolve_root_id follows transitive chain with cycle detection
  api/storage/recipe_storage.py
  tests/test_recipe_storage.py
Due: deptry, ty

fix: mock _resolve_root_id in copy test to avoid Firestore hit in CI
  tests/test_recipe_storage.py
Due: deptry, ty

fix: recipe copy dedup with root resolution, sibling hiding, and visibility guard (#272)
  api/routers/recipes.py
  api/storage/recipe_queries.py
  api/storage/recipe_storage.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: deptry, ty

feat: mobile copy flow with enhance preference and foreign recipe guards
  api/routers/recipes.py
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_api_recipes.py
Due: deptry, ty, tsc-mobile, biome

Path conditions:
  deptry: any of: \.py$
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
  biome: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
