Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

deptry:
  name: deptry
  entry: uv run deptry .
  language: system
  pass_filenames: false

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
  language: system
  pass_filenames: false

biome:
  name: Biome (mobile)
  entry: pnpm -C mobile exec biome check
  language: system
  pass_filenames: false

feat: add remove enhancement endpoint and UI button
  api/routers/recipe_enhancement.py
  api/storage/recipe_storage.py
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

fix: add mealTypeActive to mock theme in test setup
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: meal type filter in recipe library (#347)
  mobile/app/(tabs)/recipes.tsx
  mobile/components/recipes/MealTypePicker.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/recipes/__tests__/MealTypePicker.test.tsx
  mobile/lib/theme/bubblegum-colors.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/terminal-colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: clear thumbnail_url and sync title_lower on remove enhancement
  api/storage/recipe_storage.py
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

feat: add remove enhancement endpoint and UI button (#348)
  api/routers/recipe_enhancement.py
  api/storage/recipe_storage.py
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

fix: reenhance --apply reuses saved JSON and retry on JSON parse errors
  api/services/recipe_enhancer.py
  tests/test_recipe_enhancer.py
  tools/recipe_manager.py
Due: deptry, ty

fix: reenhance --apply reuses saved JSON and retry on JSON parse errors (#349)
  api/services/recipe_enhancer.py
  tests/test_recipe_enhancer.py
  tools/recipe_manager.py
Due: deptry, ty

fix: week-scoped extras, compact recipe library UI, extras section overhaul
  api/models/meal_plan.py
  api/routers/meal_plans.py
  api/storage/meal_plan_storage.py
  mobile/app/(tabs)/recipes.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/lib/hooks/__tests__/useHomeScreenData.test.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_meal_plans.py
Due: deptry, ty, tsc-mobile, biome

fix: add week date format validator per review comment
  api/routers/meal_plans.py
  tests/test_api_meal_plans.py
Due: deptry, ty

fix: week-scoped extras, compact recipe library UI, extras section overhaul (#350)
  api/models/meal_plan.py
  api/routers/meal_plans.py
  api/storage/meal_plan_storage.py
  mobile/app/(tabs)/recipes.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/lib/hooks/__tests__/useHomeScreenData.test.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_meal_plans.py
Due: deptry, ty, tsc-mobile, biome

feat: add ThemeIcon component with NotoEmoji terminal glyphs
  mobile/components/ThemeIcon.tsx
  mobile/components/__tests__/ThemeIcon.test.tsx
  mobile/lib/theme/themes/terminal.ts
  mobile/lib/theme/typography.ts
Due: tsc-mobile, biome

refactor: import IoniconName from tab-config, add emoji font fallback
  mobile/components/ThemeIcon.tsx
Due: tsc-mobile, biome

feat: add ThemeIcon component with NotoEmoji terminal glyphs (#351)
  mobile/components/ThemeIcon.tsx
  mobile/components/__tests__/ThemeIcon.test.tsx
  mobile/lib/theme/themes/terminal.ts
  mobile/lib/theme/typography.ts
Due: tsc-mobile, biome

feat: add structured tagging guidelines for Gemini recipe enhancement
  api/services/prompt_loader.py
  config/prompts/core/base.md
  config/prompts/core/tagging.md
Due: deptry, ty

fix: remove # prefix from tags — stored bare, UI adds # for display
  config/prompts/core/base.md
  config/prompts/core/tagging.md
Due: none

feat: add structured tagging guidelines for Gemini recipe enhancement (#352)
  api/services/prompt_loader.py
  config/prompts/core/base.md
  config/prompts/core/tagging.md
Due: deptry, ty

refactor: route hardcoded terminal glyphs through ThemeIcon
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/Button.tsx
  mobile/components/FullScreenLoading.tsx
  mobile/components/IconButton.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/TerminalFabBar.tsx
  mobile/components/TerminalFrame.tsx
  mobile/components/ThemeIcon.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
Due: tsc-mobile, biome

fix: add accessibility labels to icon-only FabSlot and FrameSegment controls
  mobile/components/TerminalFabBar.tsx
  mobile/components/TerminalFrame.tsx
Due: tsc-mobile, biome

refactor: route hardcoded terminal glyphs through ThemeIcon (#354)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/Button.tsx
  mobile/components/FullScreenLoading.tsx
  mobile/components/IconButton.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/TerminalFabBar.tsx
  mobile/components/TerminalFrame.tsx
  mobile/components/ThemeIcon.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
Due: tsc-mobile, biome

fix: allow members to see household name and hide members section
  api/routers/admin.py
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  tests/test_api_admin.py
Due: deptry, ty, tsc-mobile, biome

fix: allow members to see household name and hide members section (#355)
  api/routers/admin.py
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  tests/test_api_admin.py
Due: deptry, ty, tsc-mobile, biome

style: apply Biome auto-fixes
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/__tests__/settings.test.tsx
  mobile/app/ai-settings.tsx
  mobile/app/household-settings.tsx
  mobile/components/InlineAddInput.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/components/settings/FooterSections.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/components/settings/SettingsGroup.tsx
  mobile/components/settings/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: filter next/status to enhanced recipes only
  tools/recipe_manager.py
Due: deptry, ty

fix: add accessibilityRole to SettingsNavLink AnimatedPressable
  mobile/components/settings/AccountSection.tsx
Due: tsc-mobile, biome

refactor: restructure settings page with ContentCard layout and theme tokens (#356)
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/__tests__/settings.test.tsx
  mobile/app/ai-settings.tsx
  mobile/app/household-settings.tsx
  mobile/components/InlineAddInput.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/components/settings/FooterSections.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/components/settings/SettingsGroup.tsx
  mobile/components/settings/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: overhaul Gemini prompts from recipe-by-recipe benchmark
  .github/copilot-instructions.md
  .github/skills/enhancement-evaluator/SKILL.md
  api/routers/recipe_enhancement.py
  api/services/dietary_prompt_builder.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  tests/test_api_recipes.py
  tests/test_dietary_prompt_builder.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
  tools/recipe_manager.py
Due: deptry, ty

feat: overhaul Gemini prompts from recipe-by-recipe benchmark (#357)
  .github/copilot-instructions.md
  .github/skills/enhancement-evaluator/SKILL.md
  api/routers/recipe_enhancement.py
  api/services/dietary_prompt_builder.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  tests/test_api_recipes.py
  tests/test_dietary_prompt_builder.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
  tools/recipe_manager.py
Due: deptry, ty

feat: add temporary portion scaling on recipe detail
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/PortionStepper.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/lib/hooks/__tests__/usePortionScaling.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/usePortionScaling.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

feat(admin): add household info tab with settings and recipe count
  api/models/admin.py
  api/routers/admin.py
  api/storage/recipe_queries.py
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/recipe-detail/PortionStepper.tsx
  mobile/lib/api/admin.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_admin.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

fix: add accessibility labels and reset on servings change
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/lib/hooks/__tests__/usePortionScaling.test.ts
  mobile/lib/hooks/usePortionScaling.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

feat: portion scaling + admin household info tab (#360)
  api/models/admin.py
  api/routers/admin.py
  api/storage/recipe_queries.py
  mobile/app/recipe/[id].tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/lib/api/admin.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/usePortionScaling.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/usePortionScaling.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_admin.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

feat: add dairy-free prompt support for Gemini enhancement
  api/services/dietary_prompt_builder.py
  config/prompts/locales/en.md
  config/prompts/locales/it.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  tests/test_dietary_prompt_builder.py
Due: deptry, ty

feat: add diet type selection, fix theme fonts, and fix card collapse
  api/models/settings.py
  api/services/dietary_prompt_builder.py
  config/prompts/user/dietary.md
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/ai-settings.tsx
  mobile/components/Chip.tsx
  mobile/components/ContentCard.tsx
  mobile/components/DropdownPicker.tsx
  mobile/components/EmptyState.tsx
  mobile/components/ItemChipList.tsx
  mobile/components/Section.tsx
  mobile/components/SectionLabel.tsx
  mobile/components/SettingToggleRow.tsx
  mobile/components/StepperControl.tsx
  mobile/components/SuggestionChipList.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/household-settings/index.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_dietary_prompt_builder.py
Due: deptry, ty, tsc-mobile, biome

fix: mixed household logic and review comment fixes
  api/services/dietary_prompt_builder.py
  mobile/components/household-settings/AiSection.tsx
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  tests/test_dietary_prompt_builder.py
Due: deptry, ty, tsc-mobile, biome

feat: add diet type selection, fix theme fonts, and fix card collapse (#361)
  api/models/settings.py
  api/services/dietary_prompt_builder.py
  config/prompts/user/dietary.md
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/ai-settings.tsx
  mobile/components/Chip.tsx
  mobile/components/ContentCard.tsx
  mobile/components/DropdownPicker.tsx
  mobile/components/EmptyState.tsx
  mobile/components/ItemChipList.tsx
  mobile/components/Section.tsx
  mobile/components/SectionLabel.tsx
  mobile/components/SettingToggleRow.tsx
  mobile/components/StepperControl.tsx
  mobile/components/SuggestionChipList.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/household-settings/index.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_dietary_prompt_builder.py
Due: deptry, ty, tsc-mobile, biome

feat: dairy-free prompt, English-only tags, fats section conditionals, Italian translation fix
  api/services/dietary_prompt_builder.py
  config/prompts/core/tagging.md
  config/prompts/user/dietary.md
  mobile/lib/i18n/locales/it.ts
  tests/test_dietary_prompt_builder.py
Due: deptry, ty, tsc-mobile, biome

test: add explicit test for all-meat strategy tags
  tests/test_dietary_prompt_builder.py
Due: deptry, ty

feat: dairy-free prompt, English-only tags, fats conditionals (#362)
  api/services/dietary_prompt_builder.py
  config/prompts/core/tagging.md
  config/prompts/locales/en.md
  config/prompts/locales/it.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  mobile/lib/i18n/locales/it.ts
  tests/test_dietary_prompt_builder.py
Due: deptry, ty, tsc-mobile, biome

Path conditions:
  deptry: any of: \.py$
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
  biome: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
