Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/fpgmaas/deptry
    rev: 0.24.0
    hooks:
      - id: deptry

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, api/, scripts/]

  # TypeScript type check for mobile (requires npm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

fix(mobile): reduce padding more, remove emoji, blue eye icon
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
Due: tsc-mobile

feat(auth): add household multi-tenancy data model (Phase 1)
  api/auth/firebase.py
  api/auth/models.py
  api/storage/household_storage.py
  infra/environments/dev/access/superusers.txt.example
  infra/environments/dev/main.tf
  infra/modules/firebase/main.tf
  infra/modules/firebase/variables.tf
  tests/test_household_storage.py
Due: ty

feat(mobile): add haptic feedback to key UI interactions
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
Due: tsc-mobile

feat(mobile): add smooth screen transitions
  mobile/app/_layout.tsx
Due: tsc-mobile

feat(meal-plan): isolate meal plans by household (Phase 2)
  api/routers/grocery.py
  api/routers/meal_plans.py
  api/storage/meal_plan_storage.py
  mobile/lib/api.ts
  tests/test_api_grocery.py
  tests/test_api_meal_plans.py
Due: ty, tsc-mobile

fix: use Workload Identity Federation for Firebase deploy
  .github/workflows/firebase-hosting.yml
Due: none

fix: use Workload Identity Federation for Firebase deploy (#82)
  .github/workflows/firebase-hosting.yml
Due: none

fix: use Firebase CLI directly for WIF compatibility
  .github/workflows/firebase-hosting.yml
Due: none

fix: address Copilot review comments
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
Due: tsc-mobile

feat(mobile): critical UI fixes and new features (#81)
  .github/skills/local-development/SKILL.md
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/_layout.tsx
  mobile/app/select-recipe.tsx
Due: tsc-mobile

feat(mobile): add parallax scroll effect to recipe hero image
  mobile/app/recipe/[id].tsx
Due: tsc-mobile

fix: use Firebase CLI directly for WIF compatibility (#85)
  .github/workflows/firebase-hosting.yml
Due: none

feat(mobile): compact home screen layout and hide scroll indicators
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/GroceryListView.tsx
Due: tsc-mobile

fix: syntax error in meal-plan.tsx (extra brace)
  mobile/app/(tabs)/meal-plan.tsx
Due: tsc-mobile

fix: storage_api_service variable type (any for depends_on)
  infra/modules/storage/variables.tf
Due: none

fix: remove unused imports and fix button sizing consistency
  mobile/app/(tabs)/index.tsx
  mobile/app/recipe/[id].tsx
Due: tsc-mobile

feat(api): implement recipe isolation for household multi-tenancy (Phase 3)
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  tests/test_api_recipes.py
Due: ty

feat(mobile): parallax scroll effect and compact home layout (#87)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/GroceryListView.tsx
Due: tsc-mobile

feat(mobile): add iOS-style search cancel button
  mobile/app/(tabs)/recipes.tsx
Due: tsc-mobile

feat(mobile): enhanced empty slots and swipeable week selector
  mobile/app/(tabs)/meal-plan.tsx
Due: tsc-mobile

feat(mobile): add PWA support with icons and manifest
  mobile/app.json
  mobile/public/apple-touch-icon.png
  mobile/public/icon-192.png
  mobile/public/icon-512.png
  mobile/public/manifest.json
Due: none

fix: address Copilot review comments
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
Due: tsc-mobile

fix(prompts): add proactive cooking fat evaluation to enhancement tasks
  config/prompts/core/base.md
  config/prompts/user/dietary.md
Due: none

feat(mobile): UI improvements - search, meal plan gestures, PWA icons (#88)
  mobile/app.json
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/public/apple-touch-icon.png
  mobile/public/icon-192.png
  mobile/public/icon-512.png
  mobile/public/manifest.json
Due: tsc-mobile

feat(mobile): add skeleton loading and dark mode support
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/Skeleton.tsx
  mobile/components/index.ts
  mobile/lib/theme.ts
Due: tsc-mobile

fix(mobile): improve navigation headers and grocery alert
  mobile/app/(tabs)/grocery.tsx
  mobile/app/_layout.tsx
  mobile/app/recipe/[id].tsx
Due: tsc-mobile

fix(mobile): resolve grocery screen infinite loop
  mobile/app/(tabs)/grocery.tsx
Due: tsc-mobile

feat(mobile): add progressive image loading with expo-image
  mobile/app/(tabs)/index.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/RecipeCard.tsx
  mobile/package-lock.json
  mobile/package.json
Due: tsc-mobile

fix(mobile): reduce header padding for consistent spacing
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
Due: tsc-mobile

feat(mobile): skeleton loading, grocery fix, and progressive images (#89)
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/_layout.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/RecipeCard.tsx
  mobile/components/Skeleton.tsx
  mobile/components/index.ts
  mobile/lib/theme.ts
  mobile/package-lock.json
  mobile/package.json
Due: tsc-mobile

refactor(theme): remove dark theme color palette, retain light theme only
  mobile/lib/theme.ts
Due: tsc-mobile

feat(mobile): luxurious UI redesign with premium look and feel
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/theme.ts
  mobile/tailwind.config.js
Due: tsc-mobile
