Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - app/
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
  language: system
  pass_filenames: false

fix: configure CORS for Firebase Hosting and fix state bucket name
  infra/environments/dev/backend.tf
Due: none

feat: add Secret Manager for GitHub Actions, infra modules, Firebase auth
  .copilot-tasks.md
  .github/workflows/firebase-hosting.yml
  .gitignore
  Dockerfile
  api/auth/__init__.py
  api/auth/firebase.py
  api/auth/models.py
  api/routers/recipes.py
  infra/environments/dev/access/allowed_users.txt.example
  infra/environments/dev/main.tf
  infra/environments/dev/outputs.tf
  infra/modules/artifact_registry/main.tf
  infra/modules/artifact_registry/outputs.tf
  infra/modules/artifact_registry/variables.tf
  infra/modules/cloud_run/main.tf
  infra/modules/cloud_run/outputs.tf
  infra/modules/cloud_run/variables.tf
  infra/modules/firebase/main.tf
  infra/modules/firebase/outputs.tf
  infra/modules/firebase/variables.tf
  infra/modules/iam/main.tf
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/app/settings.tsx
  mobile/app/sign-in.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/settings-context.tsx
  mobile/lib/theme.ts
  pyproject.toml
  uv.lock
Due: ty, tsc-mobile

fix: address PR review - security fixes and least-privilege IAM
  Dockerfile
  api/auth/firebase.py
  infra/environments/dev/main.tf
  infra/modules/firebase/main.tf
  infra/modules/firebase/variables.tf
  infra/modules/iam/main.tf
Due: ty

fix: disable public Cloud Run access until auth is wired
  infra/modules/cloud_run/main.tf
  infra/modules/cloud_run/variables.tf
Due: none

feat: enforce authentication on all API endpoints
  api/routers/grocery.py
  api/routers/meal_plans.py
  api/routers/recipes.py
Due: ty

feat: add mobile Firebase auth with Google Sign-In
  mobile/app/_layout.tsx
  mobile/lib/api.ts
  mobile/lib/firebase.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/package-lock.json
  mobile/package.json
Due: tsc-mobile

fix: address review comments
  infra/environments/dev/scripts/create-oauth-client.ps1
  infra/environments/dev/scripts/create-oauth-client.sh
  mobile/app/(tabs)/_layout.tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

fix: handle missing OAuth credentials in dev mode
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

docs: add environment setup and auth configuration guide
  docs/DEVELOPMENT.md
Due: none

fix: add python-multipart for file upload support
  Dockerfile
Due: none

fix: add OAuth client ID and improve workflow caching
  .github/workflows/firebase-hosting.yml
Due: none

fix: grant GitHub Actions access to OAuth client ID secret
  infra/modules/firebase/main.tf
Due: none

fix: add COOP header for OAuth popup flow
  mobile/firebase.json
Due: none

feat(mobile): fix OAuth web flow and add env setup scripts
  infra/modules/iam/main.tf
  mobile/app/_layout.tsx
  mobile/lib/hooks/use-auth.tsx
  mobile/scripts/setup-env.ps1
  mobile/scripts/setup-env.sh
Due: tsc-mobile

feat(mobile): fix OAuth web flow and add env setup scripts (#53)
  infra/modules/iam/main.tf
  mobile/app/_layout.tsx
  mobile/lib/hooks/use-auth.tsx
  mobile/scripts/setup-env.ps1
  mobile/scripts/setup-env.sh
Due: tsc-mobile

fix(mobile): prevent redirect during OAuth callback processing
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
Due: tsc-mobile

fix(mobile): prevent redirect during OAuth callback processing (#54)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
Due: tsc-mobile

fix(mobile): add skipRedirectCheck to maybeCompleteAuthSession
  mobile/app/_layout.tsx
Due: tsc-mobile

fix(mobile): add skipRedirectCheck to maybeCompleteAuthSession (#55)
  mobile/app/_layout.tsx
Due: tsc-mobile

fix(mobile): use Firebase signInWithPopup for web auth
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

fix(mobile): use Firebase signInWithPopup for web auth (#56)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

fix(mobile): use signInWithRedirect instead of popup
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

fix(mobile): use signInWithRedirect instead of popup (#57)
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

Path conditions:
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
