Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/fpgmaas/deptry
    rev: 0.24.0
    hooks:
      - id: deptry

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, api/, scripts/]

  # TypeScript type check for mobile (requires npm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

refactor: split add-recipe, select-recipe, and index (Phase 3 P2) (#157)
  .github/copilot-instructions.md
  docs/DEVELOPMENT.md
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/add-recipe/EnhancementSummaryModal.tsx
  mobile/app/(tabs)/add-recipe/ManualRecipeForm.tsx
  mobile/app/(tabs)/add-recipe/useAddRecipeActions.ts
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/index/AddRecipeModal.tsx
  mobile/app/(tabs)/index/InspirationSection.tsx
  mobile/app/(tabs)/index/StatsCards.tsx
  mobile/app/(tabs)/index/useHomeScreenData.ts
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/select-recipe/CopyMealTab.tsx
  mobile/app/(tabs)/select-recipe/LibraryTab.tsx
  mobile/app/(tabs)/select-recipe/QuickMealTab.tsx
  mobile/app/(tabs)/select-recipe/RandomTab.tsx
  mobile/app/(tabs)/select-recipe/useSelectRecipeState.ts
  mobile/vitest.config.ts
Due: tsc-mobile

refactor: split recipes.tsx, GroceryListView, api.ts, theme.ts (Phase 3 P3)
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/recipes/RecipeFilters.tsx
  mobile/app/(tabs)/recipes/RecipeGrid.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/index.ts
  mobile/lib/api.ts
  mobile/lib/api/admin.ts
  mobile/lib/api/client.ts
  mobile/lib/api/mealPlans.ts
  mobile/lib/api/recipes.ts
  mobile/lib/theme.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/lib/theme/styles.ts
  mobile/lib/theme/typography.ts
Due: tsc-mobile

fix: hardcode maxWorkers=4 on Windows to eliminate fork pool timeouts
  mobile/vitest.config.ts
Due: tsc-mobile

fix: address PR review - remove dead code, fix inputStyle text color
  mobile/components/GroceryListView.tsx
  mobile/lib/theme/styles.ts
Due: tsc-mobile

refactor: Phase 3 P3 file splits (recipes, GroceryListView, api, theme) (#158)
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/recipes/RecipeFilters.tsx
  mobile/app/(tabs)/recipes/RecipeGrid.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/index.ts
  mobile/lib/api.ts
  mobile/lib/api/admin.ts
  mobile/lib/api/client.ts
  mobile/lib/api/mealPlans.ts
  mobile/lib/api/recipes.ts
  mobile/lib/theme.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/lib/theme/styles.ts
  mobile/lib/theme/typography.ts
  mobile/vitest.config.ts
Due: tsc-mobile

fix: address Copilot review - empty catch blocks, trailing semicolon
  mobile/app/sign-in.tsx
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/settings-context.tsx
Due: tsc-mobile

fix: use import.meta.url instead of __dirname for ESM compatibility
  mobile/app/__tests__/tab-routes.test.ts
Due: tsc-mobile

fix: validate URL scheme (http/https) before opening or fetching
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/useAddRecipeActions.ts
Due: tsc-mobile

fix: move URL parsing inside try/catch to handle invalid URLs gracefully
  mobile/lib/api/recipes.ts
Due: tsc-mobile

fix: validate URL scheme (http/https) before opening or fetching (#162)
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/useAddRecipeActions.ts
Due: tsc-mobile

perf: batch recipe fetch, server-side filtering, cursor pagination
  api/models/recipe.py
  api/routers/grocery.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/types.ts
  tests/test_api_grocery.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

perf: batch recipe fetch, server-side filtering, cursor pagination (#164)
  .github/copilot-instructions.md
  api/models/recipe.py
  api/routers/grocery.py
  api/routers/recipes.py
  api/storage/__init__.py
  api/storage/recipe_queries.py
  api/storage/recipe_storage.py
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/types.ts
  tests/test_api_grocery.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

feat: ingest external recipe images to GCS on scrape/parse
  api/routers/recipes.py
  api/services/image_downloader.py
  pyproject.toml
  scripts/migrate_images.py
  tests/test_api_recipes.py
  tests/test_image_downloader.py
  uv.lock
Due: ty

feat: dual-size image storage (hero + thumbnail)
  .github/instructions/firestore.instructions.md
  api/models/recipe.py
  api/routers/recipes.py
  api/services/image_downloader.py
  api/services/image_service.py
  api/storage/recipe_storage.py
  mobile/components/RecipeCard.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/types.ts
  scripts/migrate_images.py
  tests/test_api_recipes.py
  tests/test_image_downloader.py
Due: ty, tsc-mobile

fix: recipe pagination - infinite scroll, total count, and full recipe resolution
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_queries.py
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/hooks/useSelectRecipeState.ts
  mobile/lib/types.ts
  tests/test_api_recipes.py
Due: ty, tsc-mobile

fix: use collection.count() API instead of AggregationQuery constructor
  api/storage/recipe_queries.py
Due: ty

fix: address review - double-count, redundant count, render effect
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_queries.py
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/types.ts
Due: ty, tsc-mobile

fix: recipe pagination - infinite scroll, total count, and full recipe resolution (#167)
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_queries.py
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/hooks/useSelectRecipeState.ts
  mobile/lib/types.ts
  tests/test_api_recipes.py
Due: ty, tsc-mobile

fix: address review comments - SSRF protection, robustness, optimization
  api/routers/recipes.py
  api/services/image_downloader.py
  api/services/image_service.py
  api/services/url_safety.py
  scripts/migrate_images.py
  tests/test_image_downloader.py
  tests/test_url_safety.py
Due: ty

feat: ingest recipe images to GCS with dual-size storage (hero + thumbnail) (#166)
  .github/instructions/firestore.instructions.md
  api/models/recipe.py
  api/routers/recipes.py
  api/services/image_downloader.py
  api/services/image_service.py
  api/services/url_safety.py
  api/storage/recipe_storage.py
  mobile/components/RecipeCard.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/types.ts
  pyproject.toml
  scripts/migrate_images.py
  tests/test_api_recipes.py
  tests/test_image_downloader.py
  tests/test_url_safety.py
  uv.lock
Due: ty, tsc-mobile

fix: add missing Firestore composite indexes for household queries
  infra/modules/firestore/main.tf
Due: none

fix: add missing Firestore composite indexes for household queries (#168)
  infra/modules/firestore/main.tf
Due: none

feat: CORS scrape fallback, blocked-site errors, and input sanitization
  api/models/recipe.py
  api/routers/recipes.py
  api/services/recipe_enhancer.py
  api/services/recipe_sanitizer.py
  functions/scrape_recipe/main.py
  functions/scrape_recipe/recipe_scraper.py
  mobile/lib/api/client.ts
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_api_recipes.py
  tests/test_recipe.py
  tests/test_recipe_sanitizer.py
Due: ty, tsc-mobile

fix: address 4 Copilot review comments on PR #169
  api/services/recipe_sanitizer.py
  functions/scrape_recipe/main.py
  functions/scrape_recipe/recipe_scraper.py
  tests/test_recipe_sanitizer.py
Due: ty

feat: CORS scrape fallback, blocked-site errors, and input sanitization (#169)
  api/models/recipe.py
  api/routers/recipes.py
  api/services/recipe_enhancer.py
  api/services/recipe_sanitizer.py
  functions/scrape_recipe/main.py
  functions/scrape_recipe/recipe_scraper.py
  mobile/lib/api/client.ts
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_api_recipes.py
  tests/test_recipe.py
  tests/test_recipe_sanitizer.py
Due: ty, tsc-mobile
