Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Deptry - check for missing/unused dependencies (runs from uv venv)
  - repo: local
    hooks:
      - id: deptry
        name: deptry
        entry: uv run deptry .
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*|mobile/pnpm-lock\.yaml)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # pnpm sync for mobile app on branch switch
  - repo: local
    hooks:
      - id: pnpm-sync-mobile
        name: pnpm sync (mobile)
        entry: pnpm -C mobile install --frozen-lockfile --prefer-offline --silent
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [api/, scripts/]

  # TypeScript type check for mobile (requires pnpm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

  # Biome linter for mobile TypeScript/JavaScript
  - repo: local
    hooks:
      - id: biome
        name: Biome (mobile)
        entry: pnpm -C mobile exec biome check
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
        pass_filenames: false

style: fix missing fontFamily and restructure household settings
  mobile/app/household-settings.tsx
  mobile/components/Chip.tsx
  mobile/components/EmptyState.tsx
  mobile/components/InlineAddInput.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
Due: tsc-mobile, biome

fix: add missing variant='surface' to review-recipe ContentCards
  mobile/components/review-recipe/ReviewAiChanges.tsx
  mobile/components/review-recipe/ReviewRecipePreview.tsx
  mobile/components/review-recipe/ReviewVersionToggle.tsx
Due: tsc-mobile, biome

fix: diet_type not persisted and Swedish chars stripped in replacements
  api/models/settings.py
  mobile/components/household-settings/AiSection.tsx
  tests/test_dietary_sanitization.py
Due: deptry, ty, tsc-mobile, biome

style: improve regex comment precision per review
  mobile/components/household-settings/AiSection.tsx
Due: tsc-mobile, biome

fix: diet_type not persisted and Swedish chars stripped in replacements (#364)
  api/models/settings.py
  mobile/components/household-settings/AiSection.tsx
  tests/test_dietary_sanitization.py
Due: deptry, ty, tsc-mobile, biome

feat: redesign grocery screen with collapsible sections, persistent reorder, and source icons
  api/models/grocery_list.py
  mobile/app/(tabs)/grocery.tsx
  mobile/components/ContentCard.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/ThemeIcon.tsx
  mobile/components/__tests__/ContentCard.test.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/__tests__/ThemeIcon.test.tsx
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/use-grocery-state.test.ts
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/use-grocery-state.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/hooks/useIsTouchDevice.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  tests/test_api_grocery_state.py
Due: deptry, ty, tsc-mobile, biome

fix: address PR review comments - guards, test assertions, mode resets, clear handlers
  mobile/app/(tabs)/grocery.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

feat: redesign grocery screen with collapsible sections, persistent reorder, and source icons (#365)
  api/models/grocery_list.py
  mobile/app/(tabs)/grocery.tsx
  mobile/components/ContentCard.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/ThemeIcon.tsx
  mobile/components/__tests__/ContentCard.test.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/__tests__/ThemeIcon.test.tsx
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/use-grocery-state.test.ts
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/use-grocery-state.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/hooks/useIsTouchDevice.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  tests/test_api_grocery_state.py
Due: deptry, ty, tsc-mobile, biome

fix: prevent trash icon overflow in ingredient replacement rows on small screens
  mobile/components/household-settings/AiSection.tsx
Due: tsc-mobile, biome

fix: move trash icon to toggle row to avoid input overflow on small screens
  mobile/components/household-settings/AiSection.tsx
Due: tsc-mobile, biome

fix: avoid empty flex spacer when meat toggle is hidden
  mobile/components/household-settings/AiSection.tsx
Due: tsc-mobile, biome

fix: prevent ingredient replacement overflow on small screens (#367)
  mobile/components/household-settings/AiSection.tsx
Due: tsc-mobile, biome

chore: clean up test suite — delete mock theater, fix type errors, deduplicate auth fixtures
  tests/conftest.py
  tests/test_api_grocery.py
  tests/test_api_grocery_state.py
  tests/test_api_meal_plans.py
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_image_downloader.py
Due: deptry, ty

chore: clean up test suite — delete mock theater, fix type errors, deduplicate auth fixtures (#368)
  tests/conftest.py
  tests/test_api_grocery.py
  tests/test_api_grocery_state.py
  tests/test_api_meal_plans.py
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_image_downloader.py
Due: deptry, ty

fix: load NotoEmoji via Google Fonts CDN for production web and set browser tab title to Aroma
  mobile/app.json
  mobile/app/_layout.tsx
  mobile/global.css
  mobile/lib/theme/themes/terminal.ts
Due: tsc-mobile, biome

refactor: auto-derive terminal glyphs via suffix stripping + add pickerSwatch to themes
  mobile/components/ThemeIcon.tsx
  mobile/components/__tests__/ThemeIcon.test.tsx
  mobile/components/settings/ThemePicker.tsx
  mobile/lib/theme/theme-context.tsx
  mobile/lib/theme/themes/bubblegum.ts
  mobile/lib/theme/themes/light.ts
  mobile/lib/theme/themes/terminal.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: add missing terminal glyphs for ai-settings page
  mobile/components/ThemeIcon.tsx
Due: tsc-mobile, biome

fix: load NotoEmoji via Google Fonts CDN for production web (#369)
  mobile/app.json
  mobile/app/_layout.tsx
  mobile/components/ThemeIcon.tsx
  mobile/components/__tests__/ThemeIcon.test.tsx
  mobile/components/settings/ThemePicker.tsx
  mobile/global.css
  mobile/lib/theme/theme-context.tsx
  mobile/lib/theme/themes/bubblegum.ts
  mobile/lib/theme/themes/light.ts
  mobile/lib/theme/themes/terminal.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: add HelpTip popup component for contextual help
  mobile/components/HelpTip.tsx
  mobile/components/__tests__/HelpTip.test.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

feat: add built-in tooltip prop to Section, SectionLabel, and ContentCard
  mobile/components/ContentCard.tsx
  mobile/components/HelpTip.tsx
  mobile/components/Section.tsx
  mobile/components/SectionLabel.tsx
  mobile/components/__tests__/ContentCard.test.tsx
  mobile/components/__tests__/HelpTip.test.tsx
  mobile/components/__tests__/Section.test.tsx
  mobile/components/__tests__/SectionLabel.test.tsx
  mobile/components/index.ts
Due: tsc-mobile, biome

feat: use tooltip prop in AiSection and language settings, add i18n help texts
  mobile/app/household-settings.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

fix: Bubblegum theme — member chip color and RandomRecipeCard fonts
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/meal-plan/SelectMealModal.tsx
Due: tsc-mobile, biome

fix: disable text selection in recipe detail when keep-screen-on is active
  mobile/components/recipe-detail/RecipeContent.tsx
Due: tsc-mobile, biome

fix: cast userSelect to ViewStyle for strict tsc compatibility
  mobile/components/recipe-detail/RecipeContent.tsx
Due: tsc-mobile, biome

fix: flat chrome tooltip positioning and add flat chrome test
  mobile/components/ContentCard.tsx
  mobile/components/__tests__/ContentCard.test.tsx
Due: tsc-mobile, biome

feat: built-in tooltip prop, cross-theme fixes, cooking mode UX (#370)
  mobile/app/household-settings.tsx
  mobile/components/ContentCard.tsx
  mobile/components/HelpTip.tsx
  mobile/components/Section.tsx
  mobile/components/SectionLabel.tsx
  mobile/components/__tests__/ContentCard.test.tsx
  mobile/components/__tests__/HelpTip.test.tsx
  mobile/components/__tests__/Section.test.tsx
  mobile/components/__tests__/SectionLabel.test.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/index.ts
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

fix: CRT shared component gaps — TerminalFrame charHeight + BottomSheetModal flat chrome
  mobile/components/BottomSheetModal.tsx
  mobile/components/TerminalFrame.tsx
Due: tsc-mobile, biome

fix: CRT shared component gaps — TerminalFrame charHeight + BottomSheetModal flat chrome (#371)
  mobile/components/BottomSheetModal.tsx
  mobile/components/TerminalFrame.tsx
Due: tsc-mobile, biome

fix: add accessibilityLabel and accessibilityRole to ~60 Pressable instances
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/add-recipe.tsx
  mobile/app/sign-in.tsx
  mobile/components/ChipPicker.tsx
  mobile/components/DropdownPicker.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RadioGroup.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/Section.tsx
  mobile/components/TerminalFrame.tsx
  mobile/components/admin/AddMemberForm.tsx
  mobile/components/admin/HouseholdCard.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/meal-plan/RecipeRow.tsx
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/HouseholdTransfer.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/PlanMealModal.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipes/ImportRecipeModal.tsx
  mobile/components/recipes/MealTypePicker.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/review-recipe/ReviewVersionToggle.tsx
  mobile/components/settings/AccountSection.tsx
Due: tsc-mobile, biome

fix: add accessibilityLabel and accessibilityRole to ~60 Pressable instances (#375)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/add-recipe.tsx
  mobile/app/sign-in.tsx
  mobile/components/ChipPicker.tsx
  mobile/components/DropdownPicker.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RadioGroup.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/Section.tsx
  mobile/components/TerminalFrame.tsx
  mobile/components/admin/AddMemberForm.tsx
  mobile/components/admin/HouseholdCard.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/components/home/AddRecipeModal.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/meal-plan/RecipeRow.tsx
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/HouseholdTransfer.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/PlanMealModal.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipes/ImportRecipeModal.tsx
  mobile/components/recipes/MealTypePicker.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/review-recipe/ReviewVersionToggle.tsx
  mobile/components/settings/AccountSection.tsx
Due: tsc-mobile, biome

fix: restore chrome destructure, add vi import
  mobile/app/(tabs)/meal-plan.tsx
  mobile/components/FullScreenLoading.tsx
  mobile/lib/__tests__/tab-bar-scroll.test.ts
  mobile/test/mocks/react-native.ts
Due: tsc-mobile, biome

fix: auto-hide tab bar on scroll, fix note duplication, branded loading screen
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/FullScreenLoading.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/tab-bar-scroll.ts
Due: tsc-mobile, biome

fix: auto-hide tab bar on scroll, fix note duplication, branded loading screen (#372)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/FullScreenLoading.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/__tests__/tab-bar-scroll.test.ts
  mobile/lib/tab-bar-scroll.ts
  mobile/test/mocks/react-native.ts
Due: tsc-mobile, biome

feat: grocery auto-sort by learned store layout
  api/models/settings.py
  api/routers/grocery.py
  api/services/store_order.py
  api/storage/store_order_storage.py
  mobile/app/(tabs)/grocery.tsx
  mobile/app/household-settings.tsx
  mobile/components/grocery/StoreChips.tsx
  mobile/components/grocery/index.ts
  mobile/components/household-settings/GroceryStoresSection.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/household-settings/index.ts
  mobile/lib/api/mealPlans.ts
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/use-grocery.test.ts
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/use-grocery.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  tests/test_api_store_order.py
  tests/test_grocery_store_model.py
  tests/test_store_order_service.py
Due: deptry, ty, tsc-mobile, biome

refactor: merge Items at Home and Grocery Stores into single Grocery List section
  mobile/app/household-settings.tsx
  mobile/lib/hooks/use-grocery.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

fix: use themed Section for items-at-home heading and fix settings nav text
  mobile/app/(tabs)/settings.tsx
  mobile/app/household-settings.tsx
Due: tsc-mobile, biome

fix: break require cycles and add themed fontFamily to FilterChip
  mobile/components/FilterChip.tsx
  mobile/components/InlineAddInput.tsx
  mobile/components/UrlInputBar.tsx
Due: tsc-mobile, biome

fix: address PR review comments
  api/models/settings.py
  api/routers/grocery.py
  api/services/store_order.py
  api/storage/store_order_storage.py
  mobile/components/FilterChip.tsx
  mobile/lib/hooks/use-grocery.ts
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  tests/test_store_order_service.py
Due: deptry, ty, tsc-mobile, biome
