Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

deptry:
  name: deptry
  entry: uv run deptry .
  language: system
  pass_filenames: false

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
  language: system
  pass_filenames: false

biome:
  name: Biome (mobile)
  entry: pnpm -C mobile exec biome check
  language: system
  pass_filenames: false

fix: use placeholderData instead of initialData for useStoreOrder
  mobile/lib/hooks/__tests__/use-grocery.test.ts
  mobile/lib/hooks/use-grocery.ts
Due: tsc-mobile, biome

feat: grocery auto-sort by learned store layout (#376)
  api/models/settings.py
  api/routers/grocery.py
  api/services/store_order.py
  api/storage/store_order_storage.py
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/household-settings.tsx
  mobile/components/FilterChip.tsx
  mobile/components/InlineAddInput.tsx
  mobile/components/UrlInputBar.tsx
  mobile/components/grocery/StoreChips.tsx
  mobile/components/grocery/index.ts
  mobile/components/household-settings/GroceryStoresSection.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/household-settings/index.ts
  mobile/lib/api/mealPlans.ts
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/use-grocery.test.ts
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/use-grocery.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  tests/test_api_store_order.py
  tests/test_grocery_store_model.py
  tests/test_store_order_service.py
Due: deptry, ty, tsc-mobile, biome

fix: set browser tab title to Aroma for all screens
  mobile/app/_layout.tsx
  mobile/app/ai-settings.tsx
  mobile/app/household-settings.tsx
Due: tsc-mobile, biome

fix: preserve Aroma tab title on recipe detail screen
  mobile/app/recipe/[id].tsx
Due: tsc-mobile, biome

fix: set browser tab title to Aroma for all screens (#378)
  mobile/app/_layout.tsx
  mobile/app/ai-settings.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
Due: tsc-mobile, biome

feat: sort picked items by tick-off order
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

fix: route handleItemToggle through context toggleItem for tick tracking
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

feat: sort picked grocery items by tick-off order (#379)
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

chore: strengthen collaboration guidelines for planning and exploratory questions
  .github/copilot-instructions.md
Due: none

chore: strengthen collaboration guidelines for planning and exploratory questions (#381)
  .github/copilot-instructions.md
Due: none

fix: items-at-home filter only applies to meal plan items, not manual items
  mobile/components/GroceryListView.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

refactor: extract isGeneratedItemAtHome helper, deduplicate test setup
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

fix: items-at-home filter only applies to meal plan items, not manual items (#386)
  mobile/components/GroceryListView.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

fix: add skane-trails domains to Firebase authorized domains example
  infra/environments/dev/terraform.tfvars.example
Due: none

feat: replace delete buttons with selection checkboxes and clear picked
  mobile/app/(tabs)/grocery.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/grocery/ClearMenu.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

fix: prune tick sequence on delete and localize a11y label
  mobile/components/GroceryItemRow.tsx
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

feat: replace delete buttons with selection checkboxes and clear picked (#391)
  mobile/app/(tabs)/grocery.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/grocery/ClearMenu.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

fix: allow household members to select store in grocery list
  api/routers/grocery.py
  mobile/lib/api/mealPlans.ts
  mobile/lib/settings-context.tsx
  tests/test_api_store_order.py
Due: deptry, ty, tsc-mobile, biome

fix: validate store_id and add cancelQueries for optimistic update
  api/routers/grocery.py
  mobile/lib/settings-context.tsx
  tests/test_api_store_order.py
Due: deptry, ty, tsc-mobile, biome

fix: allow household members to select store in grocery list (#392)
  api/routers/grocery.py
  mobile/lib/api/mealPlans.ts
  mobile/lib/settings-context.tsx
  tests/test_api_store_order.py
Due: deptry, ty, tsc-mobile, biome

fix(ci): fix Firebase deploy hanging after Expo 55 upgrade
  .github/workflows/firebase-hosting.yml
Due: none

fix(ci): fix Firebase deploy hanging after Expo 55 upgrade (#395)
  .github/workflows/firebase-hosting.yml
Due: none

fix(ci): use timeout to handle Expo 55 export hanging in CI
  .github/workflows/firebase-hosting.yml
Due: none

fix(ci): use timeout to handle Expo 55 export hanging in CI (#396)
  .github/workflows/firebase-hosting.yml
Due: none

fix: notes click, persistent tab bar, iOS Safari auth
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/__tests__/tab-bar-scroll.test.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/tab-bar-scroll.ts
Due: tsc-mobile, biome

fix: address Copilot review — iPadOS detection, redirect error handling, orphaned props
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile, biome

fix: notes click, persistent tab bar, iOS Safari auth (#397)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/__tests__/tab-bar-scroll.test.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/tab-bar-scroll.ts
Due: tsc-mobile, biome

fix: prevent tab bar shift on recipe detail scroll
  mobile/components/GradientBackground.tsx
  mobile/global.css
Due: tsc-mobile, biome

fix: prevent tab bar shift on recipe detail scroll (#401)
  mobile/components/GradientBackground.tsx
  mobile/global.css
Due: tsc-mobile, biome

fix(mobile): resolve meal plan recipes not yet paginated
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useHomeScreenData.test.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/hooks/useMealPlanActions.ts
  tools/admin_commands.py
  tools/recipe_manager.py
Due: deptry, ty, tsc-mobile, biome

fix(mobile): override vulnerable transitive deps (minimatch, rollup)
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: biome

fix(mobile): override vulnerable transitive deps (minimatch, rollup) (#403)
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: biome

fix(mobile): resolve meal plan recipes not yet paginated (#402)
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useHomeScreenData.test.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/hooks/useMealPlanActions.ts
  tools/admin_commands.py
  tools/recipe_manager.py
Due: deptry, ty, tsc-mobile, biome

infra: enable startup CPU boost for faster cold starts
  infra/modules/cloud_function/main.tf
  infra/modules/cloud_run/main.tf
Due: none

fix: remove startup_cpu_boost from Cloud Function
  infra/modules/cloud_function/main.tf
Due: none

infra: enable startup CPU boost for faster cold starts (#404)
  infra/modules/cloud_run/main.tf
Due: none

feat(infra): add WIF + viewer SA for external repo access
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/iam/main.tf
  infra/modules/iam/outputs.tf
  infra/modules/workload_federation/main.tf
  infra/modules/workload_federation/variables.tf
Due: none

fix: restrict reload watcher, skip 404 retries, fix nested button
  .github/copilot-instructions.md
  .github/skills/local-development/SKILL.md
  docs/DEVELOPMENT.md
  mobile/components/RecipeCard.tsx
  mobile/lib/hooks/use-recipes.ts
  scripts/run-api.sh
  scripts/run-dev.sh
  scripts/setup-local-dev.ps1
  scripts/setup-local-dev.sh
Due: tsc-mobile, biome

style: apply ruff format
  api/storage/recipe_queries.py
  mobile/components/recipes/RecipeGrid.tsx
Due: deptry, ty, tsc-mobile, biome

fix: address PR review - remove pragma, add dedup tests, fix retry type safety
  api/storage/recipe_queries.py
  mobile/lib/hooks/use-recipes.ts
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

Path conditions:
  deptry: any of: \.py$
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
  biome: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
