Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

deptry:
  name: deptry
  entry: uv run deptry .
  language: system
  pass_filenames: false

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
  language: system
  pass_filenames: false

biome:
  name: Biome (mobile)
  entry: pnpm -C mobile exec biome check
  language: system
  pass_filenames: false

fix: handle ChipItem objects in mock, add disabled to InlineAddInput mock
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: extract settings primitives, add subtle tone, eliminate button overrides (#333)
  .markdownlintignore
  mobile/app/recipe/[id].tsx
  mobile/components/Button.tsx
  mobile/components/DropdownPicker.tsx
  mobile/components/InlineAddInput.tsx
  mobile/components/ItemChipList.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/SuggestionChipList.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/household-settings/NoteSuggestionsSection.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/components/index.ts
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/lib/theme/bubblegum-colors.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/terminal-colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat(mobile): redesign recipe detail with collapsible card layout
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/ContentCard.tsx
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeIngredientsList.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/theme/theme-context.tsx
  mobile/lib/theme/themes/bubblegum.ts
  mobile/lib/theme/themes/light.ts
  mobile/lib/theme/themes/terminal.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix(mobile): align recipe detail card width with meal-plan layout
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeContent.tsx
Due: tsc-mobile, biome

refactor: remove dead section='all' path and unused showAiChanges props
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
Due: tsc-mobile, biome

feat(mobile): redesign recipe detail with collapsible card layout (#334)
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/ContentCard.tsx
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeIngredientsList.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/theme/theme-context.tsx
  mobile/lib/theme/themes/bubblegum.ts
  mobile/lib/theme/themes/light.ts
  mobile/lib/theme/themes/terminal.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat(mobile): add keep-screen-on toggle to recipe detail
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/hooks/__tests__/useKeepScreenOn.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/useKeepScreenOn.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix(mobile): add expo-keep-awake as direct dependency for CI
  mobile/package.json
Due: biome

fix: handle unresolved promise and tone ternary in keep-screen-on
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/lib/hooks/useKeepScreenOn.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix(mobile): update pnpm-lock.yaml for expo-keep-awake
  mobile/pnpm-lock.yaml
Due: none

feat(mobile): add keep-screen-on toggle to recipe detail (#335)
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/hooks/__tests__/useKeepScreenOn.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/useKeepScreenOn.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor(mobile): migrate raw Modal usages to BottomSheetModal
  .github/copilot-instructions.md
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/admin/AddMemberForm.tsx
  mobile/components/admin/CreateHouseholdModal.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/recipe-detail/ImageUrlModal.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix(mobile): address PR review comments
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/admin/CreateHouseholdModal.tsx
  mobile/components/recipe-detail/ImageUrlModal.tsx
Due: tsc-mobile, biome

refactor(mobile): migrate raw Modal usages to BottomSheetModal (#336)
  .github/copilot-instructions.md
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/admin/AddMemberForm.tsx
  mobile/components/admin/CreateHouseholdModal.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/recipe-detail/ImageUrlModal.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: theme tokens cleanup — shadows, button overrides, RecipeRow
  mobile/app/(tabs)/admin.tsx
  mobile/components/Button.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/RecipeRow.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/lib/theme/theme-context.tsx
  mobile/lib/theme/themes/light.ts
  mobile/lib/theme/themes/terminal.ts
Due: tsc-mobile, biome

fix: use IconButton for admin trash buttons to match circular shape
  mobile/app/(tabs)/admin.tsx
  mobile/components/Button.tsx
  mobile/components/UrlInputBar.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/recipe-detail/TagEditor.tsx
  mobile/lib/theme/bubblegum-colors.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/terminal-colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: theme tokens cleanup - shadows, button overrides, RecipeRow (#337)
  mobile/app/(tabs)/admin.tsx
  mobile/components/Button.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/UrlInputBar.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/RecipeRow.tsx
  mobile/components/recipe-detail/TagEditor.tsx
  mobile/lib/theme/bubblegum-colors.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/lib/theme/terminal-colors.ts
  mobile/lib/theme/theme-context.tsx
  mobile/lib/theme/themes/light.ts
  mobile/lib/theme/themes/terminal.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: API code fitness — visibility guard, cross-household filter, name query, dead code
  api/routers/grocery.py
  api/routers/recipes.py
  api/storage/__init__.py
  api/storage/household_storage.py
  api/storage/meal_plan_storage.py
  api/storage/recipe_storage.py
  tests/test_api_grocery.py
  tests/test_api_recipes.py
  tests/test_household_storage.py
  tests/test_image_service.py
  tools/admin_commands.py
Due: deptry, ty

fix: address PR review comments (FieldFilter, RGBA, legacy fallback, comment)
  api/routers/grocery.py
  api/storage/household_storage.py
  tests/test_household_storage.py
  tests/test_image_service.py
Due: deptry, ty

fix: API code fitness — visibility guard, cross-household filter, name query, dead code (#338)
  api/routers/grocery.py
  api/routers/recipes.py
  api/storage/__init__.py
  api/storage/household_storage.py
  api/storage/meal_plan_storage.py
  api/storage/recipe_storage.py
  tests/test_api_grocery.py
  tests/test_api_recipes.py
  tests/test_household_storage.py
  tests/test_image_service.py
  tools/admin_commands.py
Due: deptry, ty

feat: theme-driven toggle — custom switch for Elegant, checkbox for Bubblegum
  mobile/components/Toggle.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/theme-context.tsx
  mobile/lib/theme/themes/bubblegum.ts
  mobile/lib/theme/themes/light.ts
  mobile/lib/theme/themes/terminal.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: address PR review - borderColor token and hitSlop targets
  mobile/components/Toggle.tsx
Due: tsc-mobile, biome

feat: theme-driven toggle -- custom switch for Elegant, checkbox for Bubblegum (#339)
  mobile/components/Toggle.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/theme-context.tsx
  mobile/lib/theme/themes/bubblegum.ts
  mobile/lib/theme/themes/light.ts
  mobile/lib/theme/themes/terminal.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: mobile code fitness - URL validation, PII cache, accessibility
  api/models/recipe.py
  mobile/components/BottomSheetModal.tsx
  mobile/components/Button.tsx
  mobile/components/recipe-detail/ImageUrlModal.tsx
  mobile/components/recipe-detail/TagEditor.tsx
  mobile/components/recipe-detail/ThumbRating.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/query-provider.tsx
  tests/test_recipe.py
Due: deptry, ty, tsc-mobile, biome

fix: address PR review - thumbnail_url validation, circular ref guard, URL parsing
  api/models/recipe.py
  mobile/components/recipe-detail/ImageUrlModal.tsx
  mobile/lib/query-provider.tsx
  tests/test_api_recipes.py
  tests/test_recipe.py
Due: deptry, ty, tsc-mobile, biome

fix: resolve require cycles and textShadow deprecation warnings
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/ItemChipList.tsx
  mobile/components/ScreenTitle.tsx
  mobile/components/SuggestionChipList.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
Due: tsc-mobile, biome

fix: mobile code fitness - URL validation, PII cache, accessibility (#340)
  api/models/recipe.py
  mobile/components/BottomSheetModal.tsx
  mobile/components/Button.tsx
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/ItemChipList.tsx
  mobile/components/ScreenTitle.tsx
  mobile/components/SuggestionChipList.tsx
  mobile/components/recipe-detail/ImageUrlModal.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/recipe-detail/TagEditor.tsx
  mobile/components/recipe-detail/ThumbRating.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/query-provider.tsx
  tests/test_api_recipes.py
  tests/test_recipe.py
Due: deptry, ty, tsc-mobile, biome

feat: harden dietary free-text and language fields against prompt injection
  api/models/settings.py
  api/routers/recipe_enhancement.py
  api/services/dietary_prompt_builder.py
  api/services/prompt_loader.py
  config/prompts/user/dietary.md
  tests/test_dietary_prompt_builder.py
  tests/test_dietary_sanitization.py
Due: deptry, ty

fix: address PR review comments
  api/models/settings.py
  api/routers/recipe_enhancement.py
  api/services/dietary_prompt_builder.py
  tests/test_dietary_sanitization.py
Due: deptry, ty

feat: harden dietary free-text and language fields against prompt injection (#341)
  api/models/settings.py
  api/routers/recipe_enhancement.py
  api/services/dietary_prompt_builder.py
  api/services/prompt_loader.py
  config/prompts/user/dietary.md
  tests/test_dietary_prompt_builder.py
  tests/test_dietary_sanitization.py
Due: deptry, ty

feat: replace hardcoded dietary alternatives with ingredient_replacements array
  api/models/settings.py
  api/services/dietary_prompt_builder.py
  config/prompts/locales/en.md
  config/prompts/locales/it.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/components/ThemedTextInput.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/index.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  mobile/test/setup.ts
  tests/test_dietary_prompt_builder.py
  tests/test_dietary_sanitization.py
  tests/test_equipment.py
Due: deptry, ty, tsc-mobile, biome

feat(mobile): add client-side validation for ingredient replacements
  mobile/app/household-settings.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/lib/hooks/useHouseholdSettingsForm.ts
Due: tsc-mobile, biome

feat: replace hardcoded dietary alternatives with ingredient_replacements array (#343)
  api/models/settings.py
  api/services/dietary_prompt_builder.py
  config/prompts/locales/en.md
  config/prompts/locales/it.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/components/ThemedTextInput.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/index.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  mobile/test/setup.ts
  tests/test_dietary_prompt_builder.py
  tests/test_dietary_sanitization.py
  tests/test_equipment.py
Due: deptry, ty, tsc-mobile, biome

feat: add automated nightly Firestore backup infrastructure
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/apis/main.tf
  infra/modules/apis/outputs.tf
  infra/modules/backup/README.md
  infra/modules/backup/function/main.py
  infra/modules/backup/function/requirements.txt
  infra/modules/backup/main.tf
  infra/modules/backup/outputs.tf
  infra/modules/backup/variables.tf
  infra/modules/firestore/outputs.tf
  pyproject.toml
Due: deptry, ty

fix: address PR review - terraform fmt, nightly docs, bucket versioning note
  infra/modules/backup/README.md
  infra/modules/backup/function/main.py
  infra/modules/backup/main.tf
Due: deptry, ty

feat: add automated nightly Firestore backup infrastructure (#345)
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/apis/main.tf
  infra/modules/apis/outputs.tf
  infra/modules/backup/README.md
  infra/modules/backup/function/main.py
  infra/modules/backup/function/requirements.txt
  infra/modules/backup/main.tf
  infra/modules/backup/outputs.tf
  infra/modules/backup/variables.tf
  infra/modules/firestore/outputs.tf
  pyproject.toml
Due: deptry, ty

fix: address Copilot review comments
  api/storage/recipe_storage.py
  mobile/app/(tabs)/recipes.tsx
  mobile/lib/hooks/__tests__/useDebouncedValue.test.ts
  scripts/backfill_title_lower.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

fix: case-insensitive substring search in recipe library
  api/storage/recipe_storage.py
  mobile/app/(tabs)/recipes.tsx
  mobile/lib/hooks/__tests__/useDebouncedValue.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/useDebouncedValue.ts
  scripts/backfill_title_lower.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

fix: case-insensitive substring search in recipe library (#346)
  api/storage/recipe_storage.py
  mobile/app/(tabs)/recipes.tsx
  mobile/lib/hooks/__tests__/useDebouncedValue.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/useDebouncedValue.ts
  scripts/backfill_title_lower.py
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

feat: meal type filter in recipe library
  mobile/app/(tabs)/recipes.tsx
  mobile/components/recipes/MealTypePicker.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/recipes/__tests__/MealTypePicker.test.tsx
  mobile/lib/theme/bubblegum-colors.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/terminal-colors.ts
Due: tsc-mobile, biome

Path conditions:
  deptry: any of: \.py$
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
  biome: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
