Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/fpgmaas/deptry
    rev: 0.24.0
    hooks:
      - id: deptry

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, api/, scripts/]

  # TypeScript type check for mobile (requires npm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

fix: address review comments - remove unused 'recipe' check, use TextEncoder for byte measurement
  mobile/lib/query-provider.tsx
Due: tsc-mobile

fix: improve type safety and error handling efficiency
  mobile/lib/query-provider.tsx
Due: tsc-mobile

feat(mobile): redirect users without household to no-access screen (#114)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/_layout.tsx
  mobile/app/no-access.tsx
Due: tsc-mobile

fix: redirect users without household access to sign-in
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/app/no-access.tsx
Due: tsc-mobile

fix(mobile): UI theme improvements and fixes
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/_layout.tsx
  mobile/app/household-settings.tsx
  mobile/app/sign-in.tsx
  mobile/assets/images/background.png
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/settings-context.tsx
  mobile/lib/theme.ts
  mobile/package-lock.json
  mobile/package.json
Due: tsc-mobile

fix(api): add port 8085 to CORS allowed origins
  api/main.py
Due: ty

fix(mobile): apply theme to recipe detail page
  mobile/app/(tabs)/recipe/[id].tsx
Due: tsc-mobile

fix(mobile): address Copilot review comments
  mobile/app/(tabs)/settings.tsx
  mobile/components/GradientBackground.tsx
Due: tsc-mobile

fix(mobile): remove trailing whitespace
  mobile/app/(tabs)/settings.tsx
  mobile/components/RecipeCard.tsx
Due: tsc-mobile

feat(mobile): rebrand sign-in to Aroma with updated theme
  mobile/app/sign-in.tsx
Due: tsc-mobile

feat(mobile): animated floating orbs background with smooth curves
  mobile/components/GradientBackground.tsx
Due: tsc-mobile

fix(mobile): UI theme improvements and fixes (#118)
  api/main.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/_layout.tsx
  mobile/app/household-settings.tsx
  mobile/app/sign-in.tsx
  mobile/assets/images/background.png
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/settings-context.tsx
  mobile/lib/theme.ts
  mobile/package-lock.json
  mobile/package.json
Due: ty, tsc-mobile

feat(mobile): animated background for sign-in/no-access, static image for other screens
  mobile/app/no-access.tsx
  mobile/app/sign-in.tsx
  mobile/components/GradientBackground.tsx
Due: tsc-mobile

feat(mobile): animated background for sign-in and no-access screens (#119)
  mobile/app/no-access.tsx
  mobile/app/sign-in.tsx
  mobile/components/GradientBackground.tsx
Due: tsc-mobile

feat: superuser household override, local-dev setup, security fixes
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/security/SKILL.md
  .github/skills/working-context/SKILL.md
  api/auth/firebase.py
  api/routers/meal_plans.py
  api/storage/firestore_client.py
  docs/DEVELOPMENT.md
  infra/environments/dev/main.tf
  infra/modules/iam/main.tf
  infra/modules/iam/outputs.tf
  infra/modules/iam/variables.tf
  mobile/lib/api.ts
  mobile/lib/hooks/use-auth.tsx
  scripts/setup-local-dev.ps1
  scripts/setup-local-dev.sh
  tests/test_api_meal_plans.py
Due: ty, tsc-mobile

fix: address PR review comments
  api/routers/meal_plans.py
  infra/modules/iam/main.tf
  mobile/lib/hooks/use-auth.tsx
  scripts/setup-local-dev.ps1
  scripts/setup-local-dev.sh
Due: ty, tsc-mobile

fix: address additional PR review comments
  mobile/lib/hooks/use-auth.tsx
  scripts/setup-local-dev.ps1
  scripts/setup-local-dev.sh
Due: tsc-mobile

fix: redirect users without household access to sign-in (#117)
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/security/SKILL.md
  .github/skills/working-context/SKILL.md
  api/auth/firebase.py
  api/routers/meal_plans.py
  api/storage/firestore_client.py
  docs/DEVELOPMENT.md
  infra/environments/dev/main.tf
  infra/modules/iam/main.tf
  infra/modules/iam/outputs.tf
  infra/modules/iam/variables.tf
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-auth.tsx
  scripts/setup-local-dev.ps1
  scripts/setup-local-dev.sh
  tests/test_api_meal_plans.py
Due: ty, tsc-mobile

perf: replace npm with pnpm and enable incremental TypeScript
  .pre-commit-config.yaml
  mobile/.gitignore
  mobile/package-lock.json
  mobile/pnpm-lock.yaml
Due: none

perf: migrate mobile from npm to pnpm
  .github/skills/local-development/SKILL.md
  .github/workflows/cache-update.yml
  .github/workflows/firebase-hosting.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  README.md
  docs/DEVELOPMENT.md
Due: none

perf: migrate mobile from npm to pnpm (#120)
  .github/skills/local-development/SKILL.md
  .github/workflows/cache-update.yml
  .github/workflows/firebase-hosting.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  README.md
  docs/DEVELOPMENT.md
  mobile/.gitignore
  mobile/package-lock.json
  mobile/pnpm-lock.yaml
Due: none

fix: add missing react-native-css-interop dependency
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: none

feat: add recipe transfer between households for superusers
  api/routers/admin.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-admin.ts
  pyproject.toml
  tests/test_api_admin.py
Due: ty, tsc-mobile

fix: address PR review comments
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/household-config.md
  .github/skills/security/SKILL.md
  .github/skills/working-context/SKILL.md
  api/routers/admin.py
  config/prompts/user/equipment.md
  mobile/app/(tabs)/recipe/[id].tsx
  tests/test_api_admin.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

feat: add recipe transfer between households for superusers (#121)
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/household-config.md
  .github/skills/security/SKILL.md
  .github/skills/working-context/SKILL.md
  api/routers/admin.py
  api/storage/recipe_storage.py
  config/prompts/user/equipment.md
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-admin.ts
  pyproject.toml
  tests/test_api_admin.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

fix: add proper YAML frontmatter to unregistered skills
  .github/skills/local-development/SKILL.md
  .github/skills/pr-review-workflow/SKILL.md
  .github/skills/working-context/SKILL.md
Due: none

refactor: update copilot-self-improvement skill with external version
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/copilot-self-improvement/references/PROCEDURES.md
Due: none

refactor: extract schema and OWASP refs from instructions
  .github/copilot-instructions.md
  .github/firestore.instructions.md
  .github/skills/security/SKILL.md
  .github/skills/security/references/OWASP.md
Due: none

refactor: improve copilot config structure and extract references (#123)
  .github/copilot-instructions.md
  .github/firestore.instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/copilot-self-improvement/references/PROCEDURES.md
  .github/skills/local-development/SKILL.md
  .github/skills/pr-review-workflow/SKILL.md
  .github/skills/security/SKILL.md
  .github/skills/security/references/OWASP.md
  .github/skills/working-context/SKILL.md
Due: none

fix: web platform Alert.alert and legacy recipe editing
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/alert.ts
Due: tsc-mobile
