Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - app/
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
  language: system
  pass_filenames: false

docs: fix --reviewer copilot in PR workflow skill section 8
  .github/skills/pr-review-workflow/SKILL.md
Due: none

docs: remove CLI copilot review commands, document GHA automation
  .github/skills/pr-review-workflow/SKILL.md
Due: none

docs: fix --reviewer copilot in PR workflow skill (#147)
  .github/skills/pr-review-workflow/SKILL.md
Due: none

feat(mobile): add hover animations to all buttons with AnimatedPressable
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/AnimatedPressable.tsx
  mobile/components/index.ts
Due: tsc-mobile

fix: update mobile tests for UI component changes
  mobile/app/__tests__/household-settings.test.tsx
  mobile/lib/i18n/locales/it.ts
  mobile/package-lock.json
  mobile/test/setup.ts
Due: tsc-mobile

fix(mobile): address Copilot review comments
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/AnimatedPressable.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

Feat/UI improvements feb07 (#148)
  .github/skills/security/SKILL.md
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/_layout.tsx
  mobile/app/household-settings.tsx
  mobile/components/AnimatedPressable.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/package-lock.json
  mobile/test/setup.ts
Due: tsc-mobile

docs: fix TSX style guide issues
  .github/instructions/tsx-style-guide.instructions.md
Due: none

test: add component tests for RecipeCard, MealGrid, AnimatedPressable, GroceryListView
  mobile/components/__tests__/AnimatedPressable.test.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/__tests__/MealGrid.test.tsx
  mobile/components/__tests__/RecipeCard.test.tsx
  mobile/test/mocks/expo-linear-gradient.ts
  mobile/test/mocks/react-native.ts
  mobile/test/setup.ts
  mobile/vitest.config.ts
Due: tsc-mobile

refactor: TSX style guide fixes + component test coverage (#150)
  .github/instructions/tsx-style-guide.instructions.md
  mobile/components/__tests__/AnimatedPressable.test.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/__tests__/MealGrid.test.tsx
  mobile/components/__tests__/RecipeCard.test.tsx
  mobile/test/mocks/expo-linear-gradient.ts
  mobile/test/mocks/react-native.ts
  mobile/test/setup.ts
  mobile/vitest.config.ts
Due: tsc-mobile

refactor: translate prompts to English, add household language setting
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/user/dietary.md
  config/prompts/user/equipment.md
  config/prompts/user/language.md
  scripts/recipe_enhancer.py
  scripts/test_gemini.py
  tests/test_recipe_enhancer.py
Due: ty

refactor: translate prompts to English, add household language setting (#149)
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/user/dietary.md
  config/prompts/user/equipment.md
  config/prompts/user/language.md
  scripts/recipe_enhancer.py
  scripts/test_gemini.py
  tests/test_recipe_enhancer.py
Due: ty

refactor: extract dateFormatter utility from 6 files
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/components/MealGrid.tsx
  mobile/lib/utils/__tests__/dateFormatter.test.ts
  mobile/lib/utils/dateFormatter.ts
Due: tsc-mobile

refactor: extract useImagePicker hook from 2 screens
  mobile/app/(tabs)/add-recipe.tsx
  mobile/lib/hooks/__tests__/use-image-picker.test.ts
  mobile/lib/hooks/useImagePicker.ts
Due: tsc-mobile

refactor: extract EmptyState component from 2 screens
  mobile/app/(tabs)/recipes.tsx
  mobile/components/EmptyState.tsx
  mobile/components/__tests__/EmptyState.test.tsx
  mobile/components/index.ts
  mobile/test/setup.ts
Due: tsc-mobile

refactor: extract FilterChip component from inline chip patterns
  mobile/components/FilterChip.tsx
  mobile/components/__tests__/FilterChip.test.tsx
  mobile/components/index.ts
Due: tsc-mobile

docs: add code quality enforcement rules to style guides
  .github/instructions/python-style-guide.instructions.md
  .github/instructions/tsx-style-guide.instructions.md
Due: none

fix: address Copilot review - type safety, barrel exports, unused imports
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/FilterChip.tsx
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/useImagePicker.ts
  mobile/lib/utils/__tests__/dateFormatter.test.ts
Due: tsc-mobile

refactor: Phase 2 — extract shared utilities, hooks, and components (#151)
  .github/instructions/python-style-guide.instructions.md
  .github/instructions/tsx-style-guide.instructions.md
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/components/EmptyState.tsx
  mobile/components/FilterChip.tsx
  mobile/components/MealGrid.tsx
  mobile/components/__tests__/EmptyState.test.tsx
  mobile/components/__tests__/FilterChip.test.tsx
  mobile/components/index.ts
  mobile/lib/hooks/__tests__/use-image-picker.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/useImagePicker.ts
  mobile/lib/utils/__tests__/dateFormatter.test.ts
  mobile/lib/utils/dateFormatter.ts
  mobile/test/setup.ts
Due: tsc-mobile

refactor: extract BottomSheetModal from 5 inline modals across 4 screens
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/BottomSheetModal.tsx
  mobile/components/__tests__/BottomSheetModal.test.tsx
  mobile/components/index.ts
  mobile/test/mocks/react-native.ts
Due: tsc-mobile

refactor: extract BottomSheetModal from 5 inline modals across 4 screens (#153)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/BottomSheetModal.tsx
  mobile/components/__tests__/BottomSheetModal.test.tsx
  mobile/components/index.ts
  mobile/test/mocks/react-native.ts
Due: tsc-mobile

refactor: split recipe/[id].tsx into 14 focused files
  mobile/app/(tabs)/recipe/EditRecipeModal.tsx
  mobile/app/(tabs)/recipe/HouseholdTransfer.tsx
  mobile/app/(tabs)/recipe/ImageUrlModal.tsx
  mobile/app/(tabs)/recipe/InstructionItem.tsx
  mobile/app/(tabs)/recipe/PlanMealModal.tsx
  mobile/app/(tabs)/recipe/RecipeContent.tsx
  mobile/app/(tabs)/recipe/RecipeEnhancedInfo.tsx
  mobile/app/(tabs)/recipe/RecipeHero.tsx
  mobile/app/(tabs)/recipe/RecipeInstructions.tsx
  mobile/app/(tabs)/recipe/TagEditor.tsx
  mobile/app/(tabs)/recipe/ThumbRating.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipe/recipe-detail-constants.ts
  mobile/app/(tabs)/recipe/useRecipeActions.ts
Due: tsc-mobile

fix: address PR #154 review comments and add useRecipeActions tests
  .github/copilot-instructions.md
  docs/DEVELOPMENT.md
  mobile/app/(tabs)/recipe/EditRecipeModal.tsx
  mobile/app/(tabs)/recipe/HouseholdTransfer.tsx
  mobile/app/(tabs)/recipe/ImageUrlModal.tsx
  mobile/app/(tabs)/recipe/RecipeHero.tsx
  mobile/app/(tabs)/recipe/TagEditor.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipe/__tests__/useRecipeActions.test.ts
  mobile/app/(tabs)/recipe/useRecipeActions.ts
  mobile/vitest.config.ts
Due: tsc-mobile

refactor: split recipe/[id].tsx into 14 focused files (Phase 3 P0) (#154)
  .github/copilot-instructions.md
  docs/DEVELOPMENT.md
  mobile/app/(tabs)/recipe/EditRecipeModal.tsx
  mobile/app/(tabs)/recipe/HouseholdTransfer.tsx
  mobile/app/(tabs)/recipe/ImageUrlModal.tsx
  mobile/app/(tabs)/recipe/InstructionItem.tsx
  mobile/app/(tabs)/recipe/PlanMealModal.tsx
  mobile/app/(tabs)/recipe/RecipeContent.tsx
  mobile/app/(tabs)/recipe/RecipeEnhancedInfo.tsx
  mobile/app/(tabs)/recipe/RecipeHero.tsx
  mobile/app/(tabs)/recipe/RecipeInstructions.tsx
  mobile/app/(tabs)/recipe/TagEditor.tsx
  mobile/app/(tabs)/recipe/ThumbRating.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipe/__tests__/useRecipeActions.test.ts
  mobile/app/(tabs)/recipe/recipe-detail-constants.ts
  mobile/app/(tabs)/recipe/useRecipeActions.ts
  mobile/vitest.config.ts
Due: tsc-mobile

refactor: split meal-plan.tsx into 8 focused files (Phase 3 P1)
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/meal-plan/DayHeader.tsx
  mobile/app/(tabs)/meal-plan/EmptyMealSlot.tsx
  mobile/app/(tabs)/meal-plan/FilledMealSlot.tsx
  mobile/app/(tabs)/meal-plan/GrocerySelectionModal.tsx
  mobile/app/(tabs)/meal-plan/WeekSelector.tsx
  mobile/app/(tabs)/meal-plan/meal-plan-constants.ts
  mobile/app/(tabs)/meal-plan/useMealPlanActions.ts
Due: tsc-mobile

fix: remove unused imports/variables, add 19 hook tests
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/meal-plan/__tests__/useMealPlanActions.test.ts
  mobile/app/(tabs)/meal-plan/useMealPlanActions.ts
Due: tsc-mobile

refactor: split meal-plan.tsx into 8 focused files (Phase 3 P1) (#156)
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/meal-plan/DayHeader.tsx
  mobile/app/(tabs)/meal-plan/EmptyMealSlot.tsx
  mobile/app/(tabs)/meal-plan/FilledMealSlot.tsx
  mobile/app/(tabs)/meal-plan/GrocerySelectionModal.tsx
  mobile/app/(tabs)/meal-plan/WeekSelector.tsx
  mobile/app/(tabs)/meal-plan/__tests__/useMealPlanActions.test.ts
  mobile/app/(tabs)/meal-plan/meal-plan-constants.ts
  mobile/app/(tabs)/meal-plan/useMealPlanActions.ts
Due: tsc-mobile

docs: broaden PowerShell backtick escaping rule for all gh CLI args
  .github/copilot-instructions.md
Due: none

refactor: split add-recipe, select-recipe, and index into focused files (Phase 3 P2)
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/add-recipe/EnhancementSummaryModal.tsx
  mobile/app/(tabs)/add-recipe/ManualRecipeForm.tsx
  mobile/app/(tabs)/add-recipe/useAddRecipeActions.ts
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/index/AddRecipeModal.tsx
  mobile/app/(tabs)/index/InspirationSection.tsx
  mobile/app/(tabs)/index/StatsCards.tsx
  mobile/app/(tabs)/index/useHomeScreenData.ts
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/select-recipe/CopyMealTab.tsx
  mobile/app/(tabs)/select-recipe/LibraryTab.tsx
  mobile/app/(tabs)/select-recipe/QuickMealTab.tsx
  mobile/app/(tabs)/select-recipe/RandomTab.tsx
  mobile/app/(tabs)/select-recipe/useSelectRecipeState.ts
Due: tsc-mobile

fix: cap Vitest maxWorkers on Windows to prevent fork pool timeouts
  docs/DEVELOPMENT.md
  mobile/vitest.config.ts
Due: tsc-mobile

fix: address PR review - remove unused imports/vars, replace eslint with biome-ignore
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/select-recipe/CopyMealTab.tsx
  mobile/app/(tabs)/select-recipe/LibraryTab.tsx
  mobile/app/(tabs)/select-recipe/useSelectRecipeState.ts
Due: tsc-mobile

refactor: split add-recipe, select-recipe, and index (Phase 3 P2) (#157)
  .github/copilot-instructions.md
  docs/DEVELOPMENT.md
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/add-recipe/EnhancementSummaryModal.tsx
  mobile/app/(tabs)/add-recipe/ManualRecipeForm.tsx
  mobile/app/(tabs)/add-recipe/useAddRecipeActions.ts
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/index/AddRecipeModal.tsx
  mobile/app/(tabs)/index/InspirationSection.tsx
  mobile/app/(tabs)/index/StatsCards.tsx
  mobile/app/(tabs)/index/useHomeScreenData.ts
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/select-recipe/CopyMealTab.tsx
  mobile/app/(tabs)/select-recipe/LibraryTab.tsx
  mobile/app/(tabs)/select-recipe/QuickMealTab.tsx
  mobile/app/(tabs)/select-recipe/RandomTab.tsx
  mobile/app/(tabs)/select-recipe/useSelectRecipeState.ts
  mobile/vitest.config.ts
Due: tsc-mobile

Path conditions:
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
