Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - app/
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
  language: system
  pass_filenames: false

fix: propagate structured not_supported reason from /recipes/parse endpoint
  api/routers/recipes.py
  tests/test_api_recipes.py
Due: ty

fix: async redirect hook + distinguish not_supported vs blocked recipe import errors (#180)
  api/routers/recipes.py
  api/services/html_fetcher.py
  functions/scrape_recipe/main.py
  functions/scrape_recipe/recipe_scraper.py
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_api_recipes.py
Due: ty, tsc-mobile

refactor: move recipe_reviewer.py to tools/recipe_manager.py with interactive menu
  .github/copilot-instructions.md
  .github/instructions/firestore.instructions.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/security/references/OWASP.md
  docs/DEVELOPMENT.md
  pyproject.toml
  scripts/recipe_reviewer.py
  scripts/upload_enhanced_recipe.py
  tools/__init__.py
  tools/recipe_manager.py
Due: ty

feat: add original/enhanced recipe toggle for AI-enhanced recipes
  api/models/recipe.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
Due: ty, tsc-mobile

fix: address PR #183 review comments
  api/models/recipe.py
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

ci: pin uv version to 0.9.5 to prevent 404 on unreleased versions
  .github/workflows/cache-update.yml
  .github/workflows/security-checks.yml
  .github/workflows/tests.yml
Due: none

revert: remove uv version pin, 404 was transient
  .github/workflows/cache-update.yml
  .github/workflows/security-checks.yml
  .github/workflows/tests.yml
Due: none

feat: add original/enhanced recipe toggle for AI-enhanced recipes (#183)
  api/models/recipe.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

fix: address PR #182 review comments
  scripts/upload_enhanced_recipe.py
  tools/recipe_manager.py
Due: ty

refactor: move recipe_reviewer.py to tools/recipe_manager.py with interactive menu (#182)
  .github/copilot-instructions.md
  .github/instructions/firestore.instructions.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/security/references/OWASP.md
  docs/DEVELOPMENT.md
  pyproject.toml
  scripts/recipe_reviewer.py
  scripts/upload_enhanced_recipe.py
  tools/__init__.py
  tools/recipe_manager.py
Due: ty

fix: image upload on web and gallery access on mobile
  mobile/app.json
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/useImagePicker.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  scripts/backfill_originals.py
Due: ty, tsc-mobile

fix: address PR review comments and fix test-mobile CI
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/use-image-picker.test.ts
  scripts/backfill_originals.py
Due: ty, tsc-mobile

fix: image upload on web and gallery access on mobile (#184)
  mobile/app.json
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/use-image-picker.test.ts
  mobile/lib/hooks/useImagePicker.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  scripts/backfill_originals.py
Due: ty, tsc-mobile

feat(mobile): apply consultant design refinements for meal plan page
  api/.env.example
  mobile/app/(tabs)/meal-plan.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/WeekSelector.tsx
Due: tsc-mobile

feat(mobile): apply consultant design refinements for UI pages
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/components/select-recipe/LibraryTab.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

feat: share grocery list across household via Firestore
  api/models/grocery_list.py
  api/routers/grocery.py
  api/storage/grocery_list_storage.py
  mobile/app/(tabs)/grocery.tsx
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/api/mealPlans.ts
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-grocery-state.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/types.ts
  tests/test_api_grocery_state.py
Due: ty, tsc-mobile

fix: address PR #186 review comments
  mobile/app/(tabs)/grocery.tsx
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/types.ts
Due: tsc-mobile

feat: share grocery list across household via Firestore (#186)
  api/models/grocery_list.py
  api/routers/grocery.py
  api/storage/grocery_list_storage.py
  mobile/app/(tabs)/grocery.tsx
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/api/mealPlans.ts
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-grocery-state.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/types.ts
  tests/test_api_grocery_state.py
Due: ty, tsc-mobile

fix: resolve Copilot review comments
  api/.env.example
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
Due: tsc-mobile

Feat/meal plan design refinements (#187)
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/components/select-recipe/LibraryTab.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

feat: recipe visibility with thumbs up/down and hidden filter
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_queries.py
  api/storage/recipe_storage.py
  infra/modules/firestore/main.tf
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/__tests__/MealGrid.test.tsx
  mobile/components/__tests__/RecipeCard.test.tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/recipe-detail/ThumbRating.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  scripts/backfill_visibility_fields.py
  tests/test_api_recipes.py
  tests/test_recipe.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

fix: address PR review comments
  scripts/backfill_visibility_fields.py
  tests/test_recipe_storage.py
Due: ty

feat: recipe visibility with thumbs up/down and hidden filter (#188)
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_queries.py
  api/storage/recipe_storage.py
  infra/modules/firestore/main.tf
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/__tests__/MealGrid.test.tsx
  mobile/components/__tests__/RecipeCard.test.tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/recipe-detail/ThumbRating.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  scripts/backfill_visibility_fields.py
  tests/test_api_recipes.py
  tests/test_recipe.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

chore: improve test coverage from 91% to 94%
  .github/copilot-instructions.md
  tests/test_household_storage.py
  tests/test_recipe_storage.py
Due: ty

chore: improve test coverage from 91% to 94% (#191)
  .github/copilot-instructions.md
  tests/test_household_storage.py
  tests/test_recipe_storage.py
Due: ty

feat(mobile): modernize UI with refined backgrounds and grocery improvements
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/assets/images/bck_b.png
  mobile/assets/images/bck_g.png
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/styles.ts
  mobile/lib/utils/ingredientParser.ts
Due: tsc-mobile

fix: address Copilot review comments
  mobile/app/(tabs)/grocery.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/lib/utils/ingredientParser.ts
Due: tsc-mobile

feat(mobile): modernize UI with sage green theme and warm backgrounds
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/assets/images/bck_b.png
  mobile/assets/images/bck_g.png
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/styles.ts
  mobile/lib/utils/ingredientParser.ts
Due: tsc-mobile

feat(mobile): modernize UI with sage green theme and warm backgrounds (#194)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/assets/images/bck_b.png
  mobile/assets/images/bck_g.png
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/meal-plan/EmptyMealSlot.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeInstructions.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/styles.ts
  mobile/lib/utils/ingredientParser.ts
Due: tsc-mobile

fix(mobile): use fontFamily instead of fontWeight for consistent fonts
  mobile/components/RecipeCard.tsx
  mobile/components/recipes/RecipeFilters.tsx
Due: tsc-mobile

fix(mobile): use fontFamily instead of fontWeight for consistent fonts (#195)
  mobile/components/RecipeCard.tsx
  mobile/components/recipes/RecipeFilters.tsx
Due: tsc-mobile

Path conditions:
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
