Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - app/
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
  language: system
  pass_filenames: false

fix(mobile): UI refinements round 3 (#198)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/meal-plan/FilledMealSlot.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
  mobile/components/select-recipe/CopyMealTab.tsx
  mobile/components/select-recipe/LibraryTab.tsx
  mobile/components/select-recipe/QuickMealTab.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/theme/layout.ts
Due: tsc-mobile

feat(api): add items-at-home cloud storage endpoints
  api/models/admin.py
  api/models/settings.py
  api/routers/admin.py
  api/storage/household_storage.py
  tests/test_api_admin.py
  tests/test_household_storage.py
Due: ty

feat(mobile): migrate items-at-home to cloud sync
  mobile/lib/api/admin.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
Due: tsc-mobile

test(mobile): update settings-context tests for cloud sync
  mobile/lib/__tests__/settings-context.test.tsx
Due: tsc-mobile

fix(mobile): resolve pre-existing TypeScript errors
  mobile/app/__tests__/sign-in.test.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/use-grocery.test.ts
  mobile/lib/hooks/__tests__/use-language-sync.test.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/test/helpers.ts
Due: tsc-mobile

fix: use variables for exception messages (ruff EM101)
  api/models/settings.py
  api/storage/household_storage.py
  tests/test_api_admin.py
Due: ty

fix: address Copilot review comments on PR #204
  api/models/settings.py
  api/routers/admin.py
  api/storage/household_storage.py
  mobile/lib/hooks/use-admin.ts
  tests/test_api_admin.py
  tests/test_household_storage.py
Due: ty, tsc-mobile

feat: migrate Items at Home to cloud storage per household (#204)
  api/models/admin.py
  api/models/settings.py
  api/routers/admin.py
  api/storage/household_storage.py
  mobile/app/__tests__/sign-in.test.tsx
  mobile/components/__tests__/GroceryListView.test.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/api/admin.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/use-grocery.test.ts
  mobile/lib/hooks/__tests__/use-language-sync.test.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  mobile/test/helpers.ts
  tests/test_api_admin.py
  tests/test_household_storage.py
Due: ty, tsc-mobile

fix: address PR review comments on skill optimization
  .github/instructions/tsx-style-guide.instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/pr-review-workflow/SKILL.md
  .github/skills/working-context/SKILL.md
Due: none

chore: optimize skills and instructions for context window efficiency
  .github/copilot-instructions.md
  .github/instructions/python-style-guide.instructions.md
  .github/instructions/tsx-style-guide.instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/pr-review-workflow/SKILL.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/security/SKILL.md
  .github/skills/working-context/SKILL.md
Due: none

chore: optimize skills and instructions for context window efficiency (#203)
  .github/copilot-instructions.md
  .github/instructions/python-style-guide.instructions.md
  .github/instructions/tsx-style-guide.instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/pr-review-workflow/SKILL.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/security/SKILL.md
  .github/skills/working-context/SKILL.md
Due: none

fix: security hardening, auth guard, and code dedup
  api/auth/__init__.py
  api/auth/firebase.py
  api/auth/helpers.py
  api/main.py
  api/models/recipe.py
  api/routers/grocery.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  scripts/backfill_normalized_url.py
  tests/test_auth_guard.py
  tests/test_recipe_storage.py
Due: ty

fix(mobile): prevent white screen on web and stabilize random recipe picks
  mobile/app/_layout.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/components/index.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/hooks/useSelectRecipeState.ts
Due: tsc-mobile

fix: address PR review comments
  api/main.py
  api/storage/recipe_storage.py
Due: ty

fix(mobile): address Copilot review - color contrast, hideAsync catch, unused state
  mobile/app/_layout.tsx
  mobile/components/ErrorBoundary.tsx
Due: tsc-mobile

fix(mobile): prevent white screen on web and stabilize random recipe picks (#206)
  mobile/app/_layout.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/components/index.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/hooks/useHomeScreenData.ts
  mobile/lib/hooks/useSelectRecipeState.ts
Due: tsc-mobile

test: add require_household auth helper tests
  tests/test_auth_helpers.py
Due: ty

refactor: scope all data to household level
  api/models/admin.py
  api/models/meal_plan.py
  api/models/settings.py
  api/routers/admin.py
  api/routers/meal_plans.py
  api/storage/household_storage.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/api/admin.ts
  mobile/lib/hooks/__tests__/use-language-sync.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/use-language-sync.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  mobile/test/setup.ts
  tests/test_api_admin.py
  tests/test_api_meal_plan.py
  tests/test_api_meal_plans.py
  tests/test_household_storage.py
Due: ty, tsc-mobile

fix: set hidden=False explicitly on new recipes
  api/storage/recipe_storage.py
Due: ty

fix: address Copilot review comments
  api/routers/admin.py
  mobile/lib/hooks/use-admin.ts
  tests/test_api_admin.py
Due: ty, tsc-mobile

refactor: scope all data to household level (#207)
  api/models/admin.py
  api/models/meal_plan.py
  api/models/settings.py
  api/routers/admin.py
  api/routers/meal_plans.py
  api/storage/household_storage.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/api/admin.ts
  mobile/lib/hooks/__tests__/use-language-sync.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/use-language-sync.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  mobile/test/setup.ts
  tests/test_api_admin.py
  tests/test_api_meal_plan.py
  tests/test_api_meal_plans.py
  tests/test_household_storage.py
Due: ty, tsc-mobile

chore: add backfill script for missing hidden field
  scripts/backfill_hidden_field.py
Due: ty

fix: security hardening, auth guard, and code dedup (#205)
  api/auth/__init__.py
  api/auth/firebase.py
  api/auth/helpers.py
  api/main.py
  api/models/recipe.py
  api/routers/grocery.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  scripts/backfill_hidden_field.py
  scripts/backfill_normalized_url.py
  tests/test_auth_guard.py
  tests/test_auth_helpers.py
  tests/test_recipe_storage.py
Due: ty

fix(mobile): prevent infinite re-render loop in production web build
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/settings-context.tsx
Due: tsc-mobile

test(mobile): add regression tests for auth gate in SettingsProvider
  mobile/lib/__tests__/settings-context.test.tsx
Due: tsc-mobile

fix(mobile): prevent infinite re-render loop in production web build (#209)
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/settings-context.tsx
Due: tsc-mobile

fix(api): handle structured ingredient dicts from Gemini AI
  api/models/recipe.py
  api/routers/recipes.py
  tests/test_recipe.py
  tests/test_recipe_mapper.py
Due: ty

feat(mobile): add loading overlay while recipe is being enhanced
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/EnhancingOverlay.tsx
  mobile/components/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

fix(mobile): add onRequestClose to EnhancingOverlay Modal
  mobile/components/EnhancingOverlay.tsx
Due: tsc-mobile

feat(mobile): add loading overlay while recipe is enhanced (#212)
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/EnhancingOverlay.tsx
  mobile/components/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

refactor: extract shared flatten_ingredient_dict, fix review comments
  api/models/recipe.py
  api/routers/recipes.py
  api/services/recipe_enhancer.py
Due: ty

Path conditions:
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
