Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Deptry - check for missing/unused dependencies (runs from uv venv)
  - repo: local
    hooks:
      - id: deptry
        name: deptry
        entry: uv run deptry .
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*|mobile/pnpm-lock\.yaml)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # pnpm sync for mobile app on branch switch
  - repo: local
    hooks:
      - id: pnpm-sync-mobile
        name: pnpm sync (mobile)
        entry: pnpm -C mobile install --frozen-lockfile --prefer-offline --silent
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [api/, scripts/]

  # TypeScript type check for mobile (requires pnpm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

  # Biome linter for mobile TypeScript/JavaScript
  - repo: local
    hooks:
      - id: biome
        name: Biome (mobile)
        entry: pnpm -C mobile exec biome check
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
        pass_filenames: false

fix: improve grocery hidden item handling
  mobile/app/(tabs)/grocery.tsx
  mobile/components/__tests__/StatsCard.test.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/utils/__tests__/groceryAggregator.test.ts
  mobile/lib/utils/ingredientParser.ts
Due: tsc-mobile, biome

fix: optimize hidden item derivation
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

fix: normalize pantry item matching
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/settings-context.tsx
  mobile/lib/utils/__tests__/ingredientParser.test.ts
  mobile/lib/utils/ingredientParser.ts
Due: tsc-mobile, biome

fix: normalize pantry item removal
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/settings-context.tsx
Due: tsc-mobile, biome

fix: normalize pantry note matching
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/settings-context.tsx
  mobile/lib/utils/__tests__/ingredientParser.test.ts
  mobile/lib/utils/ingredientParser.ts
Due: tsc-mobile, biome

fix: scope pantry normalization helpers
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/settings-context.tsx
  mobile/lib/utils/__tests__/ingredientParser.test.ts
  mobile/lib/utils/ingredientParser.ts
Due: tsc-mobile, biome

fix(grocery): persist manual reorder to Firestore when store is active
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

fix(grocery): guard store order persist against placeholder data
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

fix(grocery): persist manual reorder to Firestore when store is active (#500)
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile, biome

fix: surface newest recipes in random meal picker
  api/storage/recipe_queries.py
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/lib/types.ts
  mobile/lib/utils/__tests__/weightedRandom.test.ts
  mobile/lib/utils/weightedRandom.ts
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

style: apply prettier formatting to dietary.md
  config/prompts/user/dietary.md
Due: none

refactor: rank-based recency weighting in random meal picker
  mobile/lib/utils/__tests__/weightedRandom.test.ts
  mobile/lib/utils/weightedRandom.ts
Due: tsc-mobile, biome

fix: surface and favor newest recipes in random meal picker (#505)
  api/storage/recipe_queries.py
  config/prompts/user/dietary.md
  mobile/components/meal-plan/SelectMealModal.tsx
  mobile/lib/types.ts
  mobile/lib/utils/__tests__/weightedRandom.test.ts
  mobile/lib/utils/weightedRandom.ts
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

chore: pin pnpm via packageManager field with integrity hash
  mobile/package.json
Due: biome

chore: pin pnpm via packageManager field with integrity hash (#509)
  mobile/package.json
Due: biome

fix(mobile): remove baseUrl removed in TypeScript 7
  mobile/tsconfig.json
Due: biome

fix(deps): align React Native with Expo 57
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: biome

fix(deps): restore Reanimated Worklets compatibility
  mobile/package.json
  mobile/pnpm-lock.yaml
  renovate.json
Due: biome

fix(deps): restore Reanimated Worklets compatibility (#524)
  mobile/package.json
  mobile/pnpm-lock.yaml
  renovate.json
Due: biome

fix(deps): keep Starlette compatible with FastAPI tests
  pyproject.toml
  uv.lock
Due: none

fix: complete pnpm 11 migration
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/pnpm-workspace.yaml
Due: biome

fix: repair npm security lockfile update
  mobile/pnpm-lock.yaml
  mobile/pnpm-workspace.yaml
Due: none
