Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/fpgmaas/deptry
    rev: 0.24.0
    hooks:
      - id: deptry

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, api/, scripts/]

  # TypeScript type check for mobile (requires npm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

fix: address PR review — seafood_ok isinstance check, docstring, test assert
  api/services/dietary_prompt_builder.py
  tests/test_dietary_prompt_builder.py
Due: ty

fix: hardcode 4P in scaling example to avoid mismatch with target_servings
  config/prompts/user/dietary.md
Due: none

feat: dynamic dietary config from Firestore household settings (#237)
  api/routers/recipes.py
  api/services/dietary_prompt_builder.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  config/prompts/locales/en.md
  config/prompts/locales/it.md
  config/prompts/locales/sv.md
  config/prompts/user/dietary.md
  functions/scrape_recipe/main.py
  functions/scrape_recipe/recipe_scraper.py
  scripts/batch_test.py
  scripts/validate_gemini.py
  tests/test_api_admin.py
  tests/test_api_grocery.py
  tests/test_api_grocery_state.py
  tests/test_api_meal_plans.py
  tests/test_api_recipes.py
  tests/test_dietary_prompt_builder.py
  tests/test_equipment.py
  tests/test_prompt_loader.py
  tests/test_recipe.py
  tests/test_recipe_enhancer.py
  tests/test_recipe_mapper.py
  tools/recipe_manager.py
Due: ty

feat(meal-plan): add Other section for extras (#224)
  api/models/meal_plan.py
  api/routers/grocery.py
  api/routers/meal_plans.py
  api/storage/meal_plan_storage.py
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/select-recipe.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/select-recipe/LibraryTab.tsx
  mobile/lib/api/mealPlans.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/use-meal-plan.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/hooks/useSelectRecipeState.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_grocery.py
  tests/test_api_meal_plans.py
Due: ty, tsc-mobile

feat(add-recipe): preview recipe before saving with AI comparison (#227)
  mobile/app/review-recipe.tsx
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

fix(recipes): simplify AI import flow and show enhanced version by default
  .github/instructions/firestore.instructions.md
  api/storage/recipe_storage.py
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

style(add-recipe): brownish buttons, visible divider, weekday/Others separator
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/add-recipe.tsx
Due: tsc-mobile

fix(meal-plan): resolve 4 bugs from user testing
  mobile/app/(tabs)/index.tsx
  mobile/app/add-recipe.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

feat(add-recipe): AI preview modal with accept/reject and AI badge in library
  mobile/components/RecipeCard.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

fix: address Copilot review comments
  mobile/app/review-recipe.tsx
  mobile/lib/hooks/useSelectRecipeState.ts
  mobile/lib/i18n/locales/it.ts
Due: tsc-mobile

feat(meal-plan): Other section and AI preview flow (#238)
  .github/instructions/firestore.instructions.md
  api/models/meal_plan.py
  api/routers/grocery.py
  api/routers/meal_plans.py
  api/storage/meal_plan_storage.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/add-recipe.tsx
  mobile/app/review-recipe.tsx
  mobile/app/select-recipe.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/meal-plan/ExtrasSection.tsx
  mobile/components/select-recipe/LibraryTab.tsx
  mobile/lib/api/mealPlans.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/use-meal-plan.ts
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/hooks/useSelectRecipeState.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_api_grocery.py
  tests/test_api_meal_plans.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

fix: harden Dockerfile with non-root user and update .dockerignore
  .dockerignore
  .gitignore
  Dockerfile
Due: none

fix: sanitize error messages and guard console.error in mobile app
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/__tests__/sign-in.test.tsx
  mobile/app/household-settings.tsx
  mobile/app/sign-in.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/query-provider.tsx
  mobile/lib/settings-context.tsx
Due: tsc-mobile

refactor: split large screens + add shared components and 70 tests
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/household-settings.tsx
  mobile/components/RadioGroup.tsx
  mobile/components/SectionHeader.tsx
  mobile/components/admin/AddMemberForm.tsx
  mobile/components/admin/CreateHouseholdModal.tsx
  mobile/components/admin/HouseholdCard.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/admin/index.ts
  mobile/components/grocery/AddItemCard.tsx
  mobile/components/grocery/ClearMenu.tsx
  mobile/components/grocery/EmptyGroceryState.tsx
  mobile/components/grocery/GroceryHeader.tsx
  mobile/components/grocery/StatsCard.tsx
  mobile/components/grocery/index.ts
  mobile/components/home/StatsCards.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/household-settings/index.ts
  mobile/components/index.ts
  mobile/components/settings/AccountSection.tsx
  mobile/components/settings/FooterSections.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/components/settings/index.ts
  mobile/lib/hooks/__tests__/useAddRecipeActions.test.ts
  mobile/lib/hooks/__tests__/useHomeScreenData.test.ts
  mobile/lib/hooks/__tests__/useSelectRecipeState.test.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/utils/groceryAggregator.ts
  mobile/test/setup.ts
Due: tsc-mobile

refactor: fix style guide violations (any casts, exports, file splits)
  mobile/app/(tabs)/index.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/review-recipe.tsx
  mobile/components/AnimatedPressable.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeIngredientsList.tsx
  mobile/components/recipe-detail/RecipeLoadingStates.tsx
  mobile/components/recipe-detail/RecipeMetaLabels.tsx
  mobile/components/recipe-detail/RecipeTags.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/components/review-recipe/ReviewAiChanges.tsx
  mobile/components/review-recipe/ReviewRecipePreview.tsx
  mobile/components/review-recipe/ReviewVersionToggle.tsx
Due: tsc-mobile

docs: add --no-verify prohibition to collaboration guidelines
  .github/copilot-instructions.md
Due: none

fix: pre-commit hooks for tsc and biome never failed on errors
  .pre-commit-config.yaml
Due: none

fix: use pnpm -C instead of shell wrappers in pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: resolve TypeScript errors and clean up i18n validation test
  mobile/app/select-recipe.tsx
  mobile/components/AnimatedPressable.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/recipe-detail/RecipeTimeServings.tsx
  mobile/components/settings/AccountSection.tsx
  mobile/lib/hooks/__tests__/useAddRecipeActions.test.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/hooks/useSelectRecipeState.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/i18n/validate.test.ts
  mobile/lib/utils/groceryAggregator.ts
Due: tsc-mobile

fix: address PR review comments from Copilot
  mobile/app/sign-in.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/home/StatsCards.tsx
Due: tsc-mobile

fix: use invisible placeholder subtitle for consistent stat card height
  mobile/components/home/StatsCards.tsx
Due: tsc-mobile

fix: use if-block for __DEV__ guard instead of expression style
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile

fix: use if-block for __DEV__ guard instead of expression style (#239)
  mobile/lib/hooks/useGroceryScreen.ts
Due: tsc-mobile

feat: UI polish batch — smoother grocery drag, terracotta AI theme, warm settings colors
  mobile/components/GroceryItemRow.tsx
  mobile/components/recipe-detail/EnhancementReviewBanner.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/lib/theme/colors.ts
Due: tsc-mobile

fix: grocery drag, sage AI palette, white radio text
  mobile/app/add-recipe.tsx
  mobile/components/EnhancingOverlay.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/RadioGroup.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/lib/theme/colors.ts
Due: tsc-mobile

fix: sage AI badges on recipe cards, RadioGroup text visibility
  mobile/components/RadioGroup.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/theme/colors.ts
Due: tsc-mobile

fix: RadioGroup glassmorphic style — transparent unselected, frosted selected
  mobile/components/RadioGroup.tsx
Due: tsc-mobile

fix: sage AI colors in review-recipe screens, glassmorphic RadioGroup
  mobile/components/review-recipe/ReviewAiChanges.tsx
  mobile/components/review-recipe/ReviewVersionToggle.tsx
Due: tsc-mobile

fix: subtle bg tint for unselected RadioGroup items (accessibility)
  mobile/components/RadioGroup.tsx
Due: tsc-mobile

style: biome format EnhancementReviewBanner, OriginalEnhancedToggle
  mobile/components/recipe-detail/EnhancementReviewBanner.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
Due: tsc-mobile

style: biome format RadioGroup, RecipeCard
  mobile/components/RadioGroup.tsx
  mobile/components/RecipeCard.tsx
Due: tsc-mobile

feat: UI polish batch — sage AI palette, glassmorphic radio, grocery drag (#242)
  mobile/app/add-recipe.tsx
  mobile/components/EnhancingOverlay.tsx
  mobile/components/GroceryItemRow.tsx
  mobile/components/RadioGroup.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/recipe-detail/EnhancementReviewBanner.tsx
  mobile/components/recipe-detail/InstructionItem.tsx
  mobile/components/recipe-detail/OriginalEnhancedToggle.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeEnhancedInfo.tsx
  mobile/components/review-recipe/ReviewAiChanges.tsx
  mobile/components/review-recipe/ReviewVersionToggle.tsx
  mobile/lib/theme/colors.ts
Due: tsc-mobile

test: improve coverage for API (99%) and mobile (82%)
  .github/copilot-instructions.md
  .github/instructions/python-style-guide.instructions.md
  .github/instructions/tsx-style-guide.instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/copilot-self-improvement/references/PROCEDURES.md
  .github/skills/local-development/SKILL.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/equipment.md
  .github/skills/security/SKILL.md
  .github/skills/working-context/SKILL.md
  .github/workflows/terraform-tests.yml
  api/auth/firebase.py
  api/routers/admin.py
  api/routers/recipes.py
  api/storage/firestore_client.py
  api/storage/recipe_queries.py
  api/storage/recipe_storage.py
  mobile/components/household-settings/constants.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/use-grocery-state.test.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/types.ts
  mobile/lib/utils/__tests__/groceryAggregator.test.ts
  mobile/lib/utils/__tests__/ingredientParser.test.ts
  mobile/test/helpers.ts
  mobile/vitest.config.ts
  pyproject.toml
  tests/test_admin_models.py
  tests/test_api_admin.py
  tests/test_api_grocery.py
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_html_fetcher.py
  tests/test_image_downloader.py
  tests/test_image_service.py
  tests/test_ingredient_parser.py
  tests/test_prompt_loader.py
  tests/test_recipe_sanitizer.py
  tests/test_url_safety.py
Due: ty, tsc-mobile

test: address PR review comments — remove pragmas, add coverage
  .github/copilot-instructions.md
  api/routers/recipes.py
  api/storage/recipe_storage.py
  tests/test_api_recipes.py
  tests/test_equipment.py
  tests/test_recipe_storage.py
Due: ty

test: treat unexpected console.error/warn as test failures
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/hooks/__tests__/useHomeScreenData.test.ts
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/test/setup.ts
Due: tsc-mobile

ci: enforce mobile coverage thresholds in CI
  .github/workflows/tests.yml
Due: none

refactor: split recipes router, add settings response models, validate meal plan dates
  api/routers/__init__.py
  api/routers/admin.py
  api/routers/meal_plans.py
  api/routers/recipe_enhancement.py
  api/routers/recipe_images.py
  api/routers/recipe_scraping.py
  api/routers/recipes.py
  tests/test_api_admin.py
  tests/test_api_meal_plans.py
  tests/test_api_recipes.py
Due: ty
