Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - app/
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
  language: system
  pass_filenames: false

feat: add Select Recipe and Settings screens with functionality for meal selection and app configuration
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/_layout.tsx
  mobile/app/sign-in.tsx
  mobile/components/GradientBackground.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/theme.ts
  mobile/package-lock.json
  mobile/package.json
Due: tsc-mobile

style: align select-recipe and add-recipe pages with luxurious theme
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
Due: tsc-mobile

refactor: consolidate duplicate component imports
  mobile/app/(tabs)/select-recipe.tsx
Due: tsc-mobile

fix(mobile): address Copilot PR review comments
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/components/RecipeCard.tsx
Due: tsc-mobile

feat: Phase 5 - Household settings, admin UI, and recipe enhancement fork model
  .github/copilot-instructions.md
  .github/skills/recipe-improvement/SKILL.md
  api/auth/firebase.py
  api/main.py
  api/models/recipe.py
  api/models/settings.py
  api/routers/admin.py
  api/routers/recipes.py
  api/storage/household_storage.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/lib/api.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/types.ts
  pyproject.toml
  scripts/consolidate_databases.py
  scripts/manage_households.py
  scripts/migrate_to_household.py
  tests/test_api_admin.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
  uv.lock
Due: ty, tsc-mobile

chore: add superusers.txt to .gitignore (security)
  .gitignore
Due: none

fix: add missing mock for household_name_exists in CI test
  tests/test_api_admin.py
Due: ty

fix: address PR review feedback for household settings
  api/models/recipe.py
  api/routers/admin.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/household-settings.tsx
  mobile/lib/hooks/use-admin.ts
  scripts/consolidate_databases.py
  scripts/migrate_to_household.py
Due: ty, tsc-mobile

fix: address second round of PR review feedback
  api/routers/recipes.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/admin.tsx
  mobile/lib/hooks/use-grocery.ts
  mobile/lib/hooks/use-meal-plan.ts
Due: ty, tsc-mobile

docs(skills): add deferred PR issues tracking to working-context
  .github/skills/working-context/SKILL.md
Due: none

fix: address PR review comments (round 3)
  api/models/settings.py
  api/routers/recipes.py
  mobile/app/recipe/[id].tsx
  mobile/lib/types.ts
  tests/test_api_grocery.py
Due: ty, tsc-mobile

refactor: remove legacy improved/original_id fields
  .github/copilot-instructions.md
  api/models/recipe.py
  api/storage/recipe_storage.py
  mobile/lib/types.ts
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

fix: address PR review round 4
  api/routers/recipes.py
  api/storage/recipe_storage.py
  pyproject.toml
  tests/test_api_recipes.py
Due: ty

fix(infra): preserve storage bucket region
  infra/environments/dev/main.tf
Due: none

fix(infra): preserve storage bucket region (#94)
  infra/environments/dev/main.tf
Due: none

ci: replace lint job with pre-commit on all files
  .github/workflows/cache-update.yml
  .pre-commit-config.yaml
Due: none

ci: replace lint job with pre-commit on all files (#105)
  .github/workflows/cache-update.yml
  .pre-commit-config.yaml
Due: none

ci: cache mobile node_modules for faster CI
  .github/workflows/cache-update.yml
  .github/workflows/tests.yml
Due: none

refactor(ci): use GCP Secret Manager instead of GitHub secrets
  .github/workflows/firebase-hosting.yml
Due: none

fix(ci): quote shell variables to satisfy shellcheck
  .github/workflows/firebase-hosting.yml
Due: none

fix(ci): use project ID (not number) for workload identity provider
  .github/workflows/firebase-hosting.yml
Due: none

fix(ci): use project number for WIF provider (required by GCP)
  .github/workflows/firebase-hosting.yml
Due: none

feat(ci): add Cloud Run deployment workflow
  .github/workflows/cloud-run-deploy.yml
  infra/environments/dev/main.tf
  infra/modules/iam/main.tf
  infra/modules/iam/outputs.tf
  infra/modules/workload_federation/main.tf
  infra/modules/workload_federation/variables.tf
Due: none

Path conditions:
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
