Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

deptry:
  name: deptry
  entry: uv run deptry .
  language: system
  pass_filenames: false

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
  language: system
  pass_filenames: false

biome:
  name: Biome (mobile)
  entry: pnpm -C mobile exec biome check
  language: system
  pass_filenames: false

fix: recipe pagination breaks when URL duplicates exceed batch size (#407)
  .github/copilot-instructions.md
  .github/skills/local-development/SKILL.md
  api/storage/recipe_queries.py
  docs/DEVELOPMENT.md
  mobile/components/RecipeCard.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/hooks/use-recipes.ts
  scripts/run-api.sh
  scripts/run-dev.sh
  scripts/setup-local-dev.ps1
  scripts/setup-local-dev.sh
  tests/test_recipe_storage.py
Due: deptry, ty, tsc-mobile, biome

test: add retry coverage for 404 and transient errors in useMealPlanRecipes
  mobile/lib/hooks/__tests__/use-recipes.test.ts
Due: tsc-mobile, biome

fix: restrict reload watcher, skip 404 retries, fix nested button (#406)
  mobile/lib/hooks/__tests__/use-recipes.test.ts
Due: tsc-mobile, biome

feat: add featured recipe category carousels to recipe library
  api/main.py
  api/models/featured.py
  api/routers/__init__.py
  api/routers/featured.py
  api/services/featured_categories.py
  mobile/app/(tabs)/recipes.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/recipes/FeaturedCarousel.tsx
  mobile/components/recipes/FeaturedCategoriesSection.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/use-featured-categories.test.ts
  mobile/lib/hooks/use-featured-categories.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_featured_categories.py
Due: deptry, ty, tsc-mobile, biome

feat: expand to 30 featured categories, tighten matching, improve tagging prompt
  api/services/featured_categories.py
  config/prompts/core/tagging.md
  mobile/components/recipes/FeaturedCarousel.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_featured_categories.py
Due: deptry, ty, tsc-mobile, biome

feat: add featured recipe category carousels to recipe library (#408)
  api/main.py
  api/models/featured.py
  api/routers/__init__.py
  api/routers/featured.py
  api/services/featured_categories.py
  config/prompts/core/tagging.md
  mobile/app/(tabs)/recipes.tsx
  mobile/components/RecipeCard.tsx
  mobile/components/recipes/FeaturedCarousel.tsx
  mobile/components/recipes/FeaturedCategoriesSection.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/use-featured-categories.test.ts
  mobile/lib/hooks/use-featured-categories.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_featured_categories.py
Due: deptry, ty, tsc-mobile, biome

fix: use signInWithPopup on Android Chrome instead of signInWithRedirect
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile, biome

fix: use signInWithPopup on Android Chrome instead of signInWithRedirect (#409)
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile, biome

refactor(mobile): extract HeroOverlay container for recipe detail buttons
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/HeroOverlay.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
Due: tsc-mobile, biome

refactor(mobile): extract HeroOverlay container for recipe detail buttons (#410)
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/HeroOverlay.tsx
  mobile/components/recipe-detail/RecipeHero.tsx
Due: tsc-mobile, biome

fix: use signInWithPopup for all web platforms (fixes iOS Safari auth loop)
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile, biome

fix: use signInWithPopup for all web platforms (fixes iOS Safari auth loop) (#411)
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile, biome

fix(infra): prevent IAM prerequisite_roles self-locking on external drift
  infra/modules/iam/main.tf
Due: none

fix: address PR review — naming convention, remove ignore_changes
  infra/modules/iam/main.tf
Due: none

fix(infra): prevent IAM prerequisite_roles self-locking on external drift (#415)
  infra/modules/iam/main.tf
Due: none

fix: sync removed grocery items across devices via Firestore
  api/models/grocery_list.py
  api/routers/grocery.py
  api/storage/grocery_list_storage.py
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/use-grocery-state.test.ts
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/use-grocery-state.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/types.ts
  tests/test_api_grocery_state.py
Due: deptry, ty, tsc-mobile, biome

fix: dedupe removed items, add docstring, type parity
  api/storage/grocery_list_storage.py
  mobile/lib/grocery-context.tsx
  mobile/lib/types.ts
Due: deptry, ty, tsc-mobile, biome

fix: sync removed grocery items across devices via Firestore (#416)
  api/models/grocery_list.py
  api/routers/grocery.py
  api/storage/grocery_list_storage.py
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/use-grocery-state.test.ts
  mobile/lib/hooks/__tests__/useGroceryScreen.test.ts
  mobile/lib/hooks/use-grocery-state.ts
  mobile/lib/hooks/useGroceryScreen.ts
  mobile/lib/types.ts
  tests/test_api_grocery_state.py
Due: deptry, ty, tsc-mobile, biome

fix: use API response as source of truth for grocery state
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
Due: tsc-mobile, biome

fix: guard unmount setState, merge pending fields, log errors, test ordering
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
Due: tsc-mobile, biome

fix: use API response as source of truth for grocery state (#417)
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
Due: tsc-mobile, biome

chore: CI parity with skane-trails-checker
  .github/labeler.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/renovate.yml
  .github/workflows/terraform-tests.yml
  .tflint.hcl
Due: none

fix: address PR review comments on CI workflows
  .github/labeler.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/renovate.yml
  .github/workflows/terraform-tests.yml
Due: none

chore: CI parity with skane-trails-checker (#418)
  .github/labeler.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/renovate.yml
  .github/workflows/terraform-tests.yml
  .tflint.hcl
Due: none

fix: remove disabled prop blocking enhance toggle on web
  mobile/app/add-recipe.tsx
Due: tsc-mobile, biome

docs: add answer-before-acting guideline to copilot instructions
  .github/copilot-instructions.md
Due: none

fix: apply same toggle fix to ImportRecipeModal, conditionalize a11y props
  mobile/app/add-recipe.tsx
  mobile/components/recipes/ImportRecipeModal.tsx
Due: tsc-mobile, biome

fix: remove disabled prop blocking enhance toggle on web (#419)
  .github/copilot-instructions.md
  mobile/app/add-recipe.tsx
  mobile/components/recipes/ImportRecipeModal.tsx
Due: tsc-mobile, biome

fix(ci): use env vars for secret file reconstruction
  .github/copilot-instructions.md
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-tests.yml
Due: none

fix(ci): use env vars for secret file reconstruction (#443)
  .github/copilot-instructions.md
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-tests.yml
Due: none

fix: replace absoluteFillObject with absoluteFill for RN 0.85
  mobile/app/recipe/[id].tsx
  mobile/components/CRTOverlay.tsx
Due: tsc-mobile, biome

chore: disable Renovate for setup-trivy post-compromise
  renovate.json
Due: none

chore: disable Renovate for setup-trivy post-compromise (#444)
  renovate.json
Due: none

fix: suppress baseUrl deprecation for TypeScript 6
  mobile/tsconfig.json
Due: biome

fix: add CSS module declaration for TypeScript 6
  mobile/assets.d.ts
Due: tsc-mobile, biome

chore: migrate from pre-commit to prek
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/workflows/cache-update.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT.md
  docs/INFRASTRUCTURE.md
  infra/environments/dev/init/versions.tf
  pyproject.toml
  renovate.json
  uv.lock
Due: none

chore: migrate from pre-commit to prek (#446)
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/workflows/cache-update.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT.md
  docs/INFRASTRUCTURE.md
  infra/environments/dev/init/versions.tf
  pyproject.toml
  renovate.json
  uv.lock
Due: none

feat(infra): add WIF + viewer SA for external repo access (#405)
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/iam/main.tf
  infra/modules/iam/outputs.tf
  infra/modules/workload_federation/main.tf
  infra/modules/workload_federation/variables.tf
Due: none

fix: grocery list not created when stale removed_items hide all items
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/useMealPlanActions.ts
Due: tsc-mobile, biome

fix: flush pending patches before saving selections
  mobile/lib/grocery-context.tsx
Due: tsc-mobile, biome

Path conditions:
  deptry: any of: \.py$
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
  biome: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
