Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - app/
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
  language: system
  pass_filenames: false

fix: address PR review comments on test files
  mobile/app/__tests__/no-access.test.tsx
  mobile/app/__tests__/sign-in.test.tsx
  mobile/lib/hooks/__tests__/use-recipes.test.ts
Due: tsc-mobile

fix: enhance error handling for meal plan updates and ensure UI sync on failure
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/lib/hooks/use-meal-plan.ts
Due: tsc-mobile

test: expand mobile test coverage to 85% (#139)
  .github/copilot-instructions.md
  docs/DEVELOPMENT.md
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/__tests__/no-access.test.tsx
  mobile/app/__tests__/sign-in.test.tsx
  mobile/lib/__tests__/alert.test.ts
  mobile/lib/__tests__/grocery-context.test.tsx
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/use-grocery.test.ts
  mobile/lib/hooks/__tests__/use-meal-plan.test.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/vitest.config.ts
Due: tsc-mobile

feat: reorganize navigation - settings via gear icon, admin via settings page
  mobile/app/(tabs)/meal-plan.tsx
Due: tsc-mobile

fix: change Lunch/Dinner label to dark brown for unassigned meals (#138)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/lib/hooks/use-meal-plan.ts
Due: tsc-mobile

feat: add i18n infrastructure with en/sv/it locales
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/i18n/validate.test.ts
  mobile/package.json
Due: tsc-mobile

fix: widen Translations type to accept non-English string values
  mobile/lib/i18n/locales/en.ts
Due: tsc-mobile

feat: add i18n infrastructure with en/sv/it locales (#140)
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/i18n/validate.test.ts
  mobile/package.json
Due: tsc-mobile

feat(i18n): wire t() calls into all screen components
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/app/no-access.tsx
  mobile/app/sign-in.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

fix: use expo-router useFocusEffect import and speed up tests
  mobile/app/(tabs)/recipes.tsx
  mobile/lib/i18n/validate.test.ts
  mobile/vitest.config.ts
Due: tsc-mobile

fix: address PR review comments on i18n wiring
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
Due: tsc-mobile

Feat/i18n wire screens (#141)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/app/no-access.tsx
  mobile/app/sign-in.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/i18n/validate.test.ts
  mobile/vitest.config.ts
Due: tsc-mobile

chore: organize instruction files and add applyTo frontmatter
  .github/copilot-instructions.md
  .github/instructions/firestore.instructions.md
  .github/instructions/python-style-guide.instructions.md
  .github/instructions/terraform.instructions.md
  .github/instructions/tsx-style-guide.instructions.md
Due: none

chore: organize instruction files and add applyTo frontmatter (#142)
  .github/copilot-instructions.md
  .github/instructions/firestore.instructions.md
  .github/instructions/python-style-guide.instructions.md
  .github/instructions/terraform.instructions.md
  .github/instructions/tsx-style-guide.instructions.md
Due: none

feat(i18n): wire components and module-level constants with t()
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

feat(i18n): sync language preference with Firestore household settings
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/settings.test.tsx
  mobile/lib/hooks/__tests__/use-language-sync.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-language-sync.ts
Due: tsc-mobile

fix(i18n): address PR review comments
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
Due: tsc-mobile

fix(i18n): address second round of PR review comments
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/settings.tsx
  mobile/lib/hooks/use-language-sync.ts
Due: tsc-mobile

feat(i18n): Wire components and module-level constants with t() (#143)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/recipe/[id].tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/settings.test.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/hooks/__tests__/use-language-sync.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-language-sync.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

refactor: extract modules for style guide compliance
  api/models/admin.py
  api/routers/admin.py
  api/routers/grocery.py
  api/routers/recipes.py
  api/services/grocery_categories.py
  api/services/image_service.py
  api/services/recipe_mapper.py
  api/storage/recipe_storage.py
  tests/test_api_admin.py
  tests/test_api_grocery.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty

fix: address PR #144 review comments
  .github/skills/security/SKILL.md
  .github/skills/security/references/OWASP.md
  api/routers/admin.py
  api/services/recipe_mapper.py
  tests/test_api_admin.py
  tests/test_api_recipes.py
Due: ty

refactor: Python style guide compliance — extract modules, reduce file sizes (#144)
  .github/skills/security/SKILL.md
  .github/skills/security/references/OWASP.md
  api/models/admin.py
  api/routers/admin.py
  api/routers/grocery.py
  api/routers/recipes.py
  api/services/grocery_categories.py
  api/services/image_service.py
  api/services/recipe_mapper.py
  api/storage/recipe_storage.py
  tests/test_api_grocery.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty

fix: explicit superuser visibility bypass, remove legacy recipe code
  api/routers/recipes.py
  api/storage/recipe_storage.py
  tests/test_api_recipes.py
Due: ty

docs: add PowerShell backtick escaping rule to copilot instructions
  .github/copilot-instructions.md
Due: none

docs: add --reviewer copilot and --body-file rules to PR workflow skill
  .github/skills/pr-review-workflow/SKILL.md
  api/storage/recipe_storage.py
  tests/test_recipe_storage.py
Due: ty

docs: restructure post-push workflow as ordered steps in PR skill
  .github/skills/pr-review-workflow/SKILL.md
Due: none

fix: explicit superuser visibility bypass, remove legacy recipe code (#145)
  .github/copilot-instructions.md
  .github/skills/pr-review-workflow/SKILL.md
  api/routers/recipes.py
  api/storage/recipe_storage.py
  tests/test_api_recipes.py
  tests/test_recipe_storage.py
Due: ty

refactor: preserve original data in recipe enhancement flow
  .github/copilot-instructions.md
  .github/instructions/firestore.instructions.md
  .github/skills/recipe-improvement/SKILL.md
  scripts/recipe_reviewer.py
  scripts/upload_enhanced_recipe.py
Due: ty

refactor: preserve original data in recipe enhancement flow (#146)
  .github/copilot-instructions.md
  .github/instructions/firestore.instructions.md
  .github/skills/recipe-improvement/SKILL.md
  scripts/recipe_reviewer.py
  scripts/upload_enhanced_recipe.py
Due: ty

feat: UI improvements - image picker, household settings, multi-select filters
  .github/skills/security/SKILL.md
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/select-recipe.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/_layout.tsx
  mobile/app/household-settings.tsx
  mobile/components/GradientBackground.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

feat: UI improvements - filter chips, home page, nav pills
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/add-recipe.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/_layout.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile

Path conditions:
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
