Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

deptry:
  name: deptry
  entry: uv run deptry .
  language: system
  pass_filenames: false

ty:
  name: ty type check
  entry: uv run ty check
  language: system
  pass_filenames: false
  args:
  - api/
  - scripts/

tsc-mobile:
  name: TypeScript (mobile)
  entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
  language: system
  pass_filenames: false

biome:
  name: Biome (mobile)
  entry: pnpm -C mobile exec biome check
  language: system
  pass_filenames: false

fix: address PR review - copiedRecipeVisibility info message and enhance disabled prop
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
Due: tsc-mobile, biome

feat: mobile copy flow with enhance preference and foreign recipe guards (#273)
  api/routers/recipes.py
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/EditRecipeModal.tsx
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  tests/test_api_recipes.py
Due: deptry, ty, tsc-mobile, biome

feat: language prompt modal for households without language set
  mobile/app/_layout.tsx
  mobile/components/LanguagePromptModal.tsx
  mobile/components/__tests__/LanguagePromptModal.test.tsx
  mobile/components/settings/LanguagePicker.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/components/settings/index.ts
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: address PR review comments on language prompt modal
  mobile/app/_layout.tsx
  mobile/components/LanguagePromptModal.tsx
  mobile/components/__tests__/LanguagePromptModal.test.tsx
  mobile/components/settings/PreferencesSection.tsx
Due: tsc-mobile, biome

feat: language prompt modal for households without language set (#274)
  mobile/app/_layout.tsx
  mobile/components/LanguagePromptModal.tsx
  mobile/components/__tests__/LanguagePromptModal.test.tsx
  mobile/components/settings/LanguagePicker.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/components/settings/index.ts
  mobile/lib/__tests__/settings-context.test.tsx
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

test: add EnhancementReviewModal component tests
  mobile/components/__tests__/EnhancementReviewModal.test.tsx
Due: tsc-mobile, biome

feat: diet/meal label on scrape and enhancement review modal
  api/routers/recipe_scraping.py
  api/services/recipe_mapper.py
  mobile/app/add-recipe.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/EnhancementReviewModal.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useAddRecipeActions.test.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/hooks/useRecipeActions.ts
  tests/test_api_recipes.py
Due: deptry, ty, tsc-mobile, biome

refactor: replace onApprove/onReject with single onReview callback
  mobile/app/recipe/[id].tsx
  mobile/components/__tests__/EnhancementReviewModal.test.tsx
  mobile/components/recipe-detail/EnhancementReviewModal.tsx
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/useRecipeActions.ts
Due: tsc-mobile, biome

refactor: unify EnhancementSummaryModal and EnhancementReviewModal
  mobile/app/add-recipe.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/__tests__/EnhancementReviewModal.test.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/components/recipe-detail/EnhancementReviewModal.tsx
Due: tsc-mobile, biome

fix: address Copilot review comments on PR #269
  api/services/recipe_mapper.py
  mobile/app/recipe/[id].tsx
  mobile/components/EnhancementReviewModal.tsx
  mobile/lib/hooks/useRecipeActions.ts
  tests/test_recipe_mapper.py
Due: deptry, ty, tsc-mobile, biome

feat: diet/meal label on scrape and enhancement review modal (#269)
  api/routers/recipe_scraping.py
  api/services/recipe_mapper.py
  mobile/app/add-recipe.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/__tests__/EnhancementReviewModal.test.tsx
  mobile/components/add-recipe/EnhancementSummaryModal.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/use-recipes.test.ts
  mobile/lib/hooks/__tests__/useAddRecipeActions.test.ts
  mobile/lib/hooks/__tests__/useRecipeActions.test.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/hooks/useAddRecipeActions.ts
  mobile/lib/hooks/useRecipeActions.ts
  tests/test_api_recipes.py
  tests/test_recipe_mapper.py
Due: deptry, ty, tsc-mobile, biome

feat: expand admin tool with user and household management
  .github/copilot-instructions.md
  docs/DEVELOPMENT.md
  tools/admin_commands.py
  tools/recipe_manager.py
Due: deptry, ty

fix: address review comments on admin_commands
  tools/admin_commands.py
Due: deptry, ty

feat: expand admin tool with user and household management (#275)
  .github/copilot-instructions.md
  docs/DEVELOPMENT.md
  tools/admin_commands.py
  tools/recipe_manager.py
Due: deptry, ty

fix: stop 403 from signing out members on household settings
  mobile/lib/api/client.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/i18n/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
Due: tsc-mobile, biome

fix: address PR review — break circular dep, useEffect for lang sync
  mobile/lib/api/client.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/language-state.ts
  mobile/lib/settings-context.tsx
Due: tsc-mobile, biome

fix: stop 403 from signing out members on household settings (#280)
  mobile/lib/api/client.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/i18n/index.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/language-state.ts
  mobile/lib/settings-context.tsx
Due: tsc-mobile, biome

refactor: extract ColorTokens and FontFamilyTokens types from theme
  mobile/lib/theme.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/typography.ts
Due: tsc-mobile, biome

refactor: extract ColorTokens and FontFamilyTokens types from theme (#282)
  mobile/lib/theme.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/typography.ts
Due: tsc-mobile, biome

refactor: extract createStyles factory from static style presets
  mobile/lib/theme.ts
  mobile/lib/theme/styles.ts
Due: tsc-mobile, biome

test: add createStyles mock to theme test setup
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: extract createStyles factory from static style presets (#283)
  mobile/lib/theme.ts
  mobile/lib/theme/styles.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: unify stepper controls and settings card font sizes
  mobile/components/StepperControl.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/index.ts
  mobile/components/settings/FooterSections.tsx
  mobile/components/settings/PreferencesSection.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: use circleStyle helper for RadioGroup circles
  mobile/components/RadioGroup.tsx
Due: tsc-mobile, biome

refactor: replace remaining hardcoded styles with theme tokens
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/Skeleton.tsx
  mobile/components/home/InspirationSection.tsx
  mobile/components/home/StatsCards.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/recipe-detail/RecipeLoadingStates.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/layout.ts
  mobile/lib/theme/styles.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: add ThemeProvider and useTheme hook
  mobile/app/_layout.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/theme-context.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: use barrel import for ThemeProvider, add React type import
  mobile/app/_layout.tsx
  mobile/lib/theme/theme-context.tsx
Due: tsc-mobile, biome

feat: add ThemeProvider and useTheme hook (#284)
  mobile/app/_layout.tsx
  mobile/lib/theme.ts
  mobile/lib/theme/theme-context.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: planner UI improvements (#276, #277, #278)
  api/models/settings.py
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/recipe-detail/PlanMealModal.tsx
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
Due: deptry, ty, tsc-mobile, biome

fix: collapsible past days + cart FAB with add badge
  mobile/app/(tabs)/meal-plan.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/lib/theme/styles.ts
Due: tsc-mobile, biome

fix: tap header to collapse past days, green today border, fix jump scroll
  mobile/app/(tabs)/meal-plan.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/lib/hooks/useMealPlanActions.ts
Due: tsc-mobile, biome

fix: address Copilot review comments
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/recipe-detail/PlanMealModal.tsx
  mobile/components/recipe-detail/recipe-detail-constants.ts
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
Due: tsc-mobile, biome

feat: planner UI improvements — FABs, collapsible past days, breakfast toggle (#285)
  api/models/settings.py
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/recipe-detail/PlanMealModal.tsx
  mobile/components/recipe-detail/recipe-detail-constants.ts
  mobile/lib/hooks/__tests__/useHouseholdSettingsForm.test.ts
  mobile/lib/hooks/__tests__/useMealPlanActions.test.ts
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/hooks/useMealPlanActions.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/theme/styles.ts
  mobile/lib/types.ts
Due: deptry, ty, tsc-mobile, biome

refactor: remove static colors from StyleSheet.create in mixed-palette files
  mobile/components/EnhancementReviewModal.tsx
  mobile/components/EnhancingOverlay.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/FullScreenLoading.tsx
  mobile/components/Skeleton.tsx
  mobile/components/meal-plan/DayHeader.tsx
Due: tsc-mobile, biome

refactor: migrate remaining static colors to useTheme()
  mobile/app/sign-in.tsx
  mobile/components/ScreenTitle.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/recipes/RecipeFilters.tsx
Due: tsc-mobile, biome

refactor: migrate remaining static colors to useTheme() (#287)
  mobile/app/sign-in.tsx
  mobile/components/ScreenTitle.tsx
  mobile/components/meal-plan/CollapsedDayRow.tsx
  mobile/components/recipes/RecipeFilters.tsx
Due: tsc-mobile, biome

Path conditions:
  deptry: any of: \.py$
  ty: any of: \.py$
  tsc-mobile: any of: ^mobile/.*\.(ts|tsx)$
  biome: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
