Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, ty, tsc-mobile, biome

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Deptry - check for missing/unused dependencies (runs from uv venv)
  - repo: local
    hooks:
      - id: deptry
        name: deptry
        entry: uv run deptry .
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*|mobile/pnpm-lock\.yaml)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # pnpm sync for mobile app on branch switch
  - repo: local
    hooks:
      - id: pnpm-sync-mobile
        name: pnpm sync (mobile)
        entry: pnpm -C mobile install --frozen-lockfile --prefer-offline --silent
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [api/, scripts/]

  # TypeScript type check for mobile (requires pnpm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: pnpm -C mobile exec tsc --noEmit --incremental --tsBuildInfoFile .tsbuildinfo
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

  # Biome linter for mobile TypeScript/JavaScript
  - repo: local
    hooks:
      - id: biome
        name: Biome (mobile)
        entry: pnpm -C mobile exec biome check
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx|json|css)$
        pass_filenames: false

fix: address PR review — use include_router, coerce null dietary
  api/models/settings.py
  api/routers/recipe_enhancement.py
  api/routers/recipe_images.py
  api/routers/recipe_scraping.py
  api/routers/recipes.py
  tests/test_api_admin.py
Due: deptry, ty

refactor: split recipes router, add settings response models, validate meal plan dates (#244)
  api/models/settings.py
  api/routers/__init__.py
  api/routers/admin.py
  api/routers/meal_plans.py
  api/routers/recipe_enhancement.py
  api/routers/recipe_images.py
  api/routers/recipe_scraping.py
  api/routers/recipes.py
  tests/test_api_admin.py
  tests/test_api_meal_plans.py
  tests/test_api_recipes.py
Due: deptry, ty

feat: persistent floating tab bar on all screens
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/components/FloatingTabBar.tsx
Due: tsc-mobile, biome

feat: i18n suggested items + flat note icon
  mobile/components/meal-plan/DayHeader.tsx
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

feat: remove note emojis + move items-at-home to household settings
  mobile/app/(tabs)/settings.tsx
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
Due: tsc-mobile, biome

feat: proportional meat split in prompt, fix save bar overlap, warm settings text
  api/services/dietary_prompt_builder.py
  api/services/prompt_loader.py
  config/prompts/user/dietary.md
  mobile/app/household-settings.tsx
  mobile/components/admin/HouseholdDetailModal.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  tests/test_dietary_prompt_builder.py
  tests/test_prompt_loader.py
Due: deptry, ty, tsc-mobile, biome

feat: replace meat preference radio group with numeric stepper
  api/models/settings.py
  api/routers/recipe_enhancement.py
  api/services/dietary_prompt_builder.py
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/household-settings.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/constants.ts
  mobile/lib/hooks/__tests__/use-admin.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  tests/test_dietary_prompt_builder.py
  tools/recipe_manager.py
Due: deptry, ty, tsc-mobile, biome

feat: collapsible accordion sections + move language to household settings
  mobile/app/(tabs)/settings.tsx
  mobile/app/household-settings.tsx
  mobile/components/household-settings/CollapsibleSection.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/EquipmentSection.tsx
  mobile/components/household-settings/GeneralSection.tsx
  mobile/components/household-settings/MembersSection.tsx
  mobile/components/household-settings/index.ts
  mobile/components/settings/ItemsAtHomeSection.tsx
  mobile/components/settings/PreferencesSection.tsx
Due: tsc-mobile, biome

feat: AI settings section with master toggle, disable AI across UI
  .github/instructions/tsx-style-guide.instructions.md
  api/models/settings.py
  api/routers/recipe_enhancement.py
  api/services/dietary_prompt_builder.py
  mobile/app/__tests__/household-settings.test.tsx
  mobile/app/add-recipe.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/components/household-settings/CollapsibleSection.tsx
  mobile/components/household-settings/DietarySection.tsx
  mobile/components/household-settings/constants.ts
  mobile/components/household-settings/index.ts
  mobile/components/recipe-detail/RecipeActionButtons.tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/lib/hooks/useHouseholdSettingsForm.ts
  mobile/lib/i18n/__tests__/useTranslation.test.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/settings-context.tsx
  mobile/lib/types.ts
  tests/test_prompt_loader.py
  tools/recipe_manager.py
Due: deptry, ty, tsc-mobile, biome

fix: use target_servings as denominator for meat split ratios in prompt
  config/prompts/user/dietary.md
  tests/test_dietary_prompt_builder.py
Due: deptry, ty

fix: address Copilot review comments
  api/models/settings.py
  api/services/dietary_prompt_builder.py
  mobile/app/household-settings.tsx
  mobile/components/household-settings/AiSection.tsx
  mobile/lib/hooks/use-admin.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/lib/hooks/useRecipeActions.ts
  mobile/lib/utils/groceryAggregator.ts
  tests/test_dietary_prompt_builder.py
Due: deptry, ty, tsc-mobile, biome

feat: floating tab bar with acrylic transparency on all screens
  .github/instructions/tsx-style-guide.instructions.md
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/add-recipe.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/review-recipe.tsx
  mobile/app/select-recipe.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/index.ts
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: remove overflow hidden breaking backdrop-filter on web
  mobile/components/FloatingTabBar.tsx
Due: tsc-mobile, biome

fix: remove opaque footers behind tab bar, increase transparency
  mobile/app/review-recipe.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/lib/theme/colors.ts
Due: tsc-mobile, biome

fix: content scrolls behind navbar, bottom fill covers gap below
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: add tab accessibility labels, pointerEvents on bottomFill, overlayBottomOffset constant
  mobile/app/review-recipe.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

chore: linting fixes
  .github/instructions/tsx-style-guide.instructions.md
Due: none

feat: floating tab bar with acrylic transparency (#246)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/add-recipe.tsx
  mobile/app/household-settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/review-recipe.tsx
  mobile/app/select-recipe.tsx
  mobile/components/FloatingTabBar.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/household-settings/SaveControls.tsx
  mobile/components/index.ts
  mobile/components/recipes/RecipeGrid.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: address theme token review comments from PR #247
  mobile/components/grocery/StatsCard.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/theme/colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

docs: trim tsx-style-guide — remove duplicated/tool-delegable content
  .github/instructions/tsx-style-guide.instructions.md
Due: none

fix: address theme token review comments from PR #247 (#248)
  .github/instructions/tsx-style-guide.instructions.md
  mobile/components/grocery/StatsCard.tsx
  mobile/components/meal-plan/WeekSelector.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/lib/theme/colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

feat: recipe notes API, quick meals in grocery, recipe library toggle
  api/models/recipe_note.py
  api/routers/__init__.py
  api/routers/grocery.py
  api/routers/recipe_notes.py
  api/routers/recipes.py
  api/storage/__init__.py
  api/storage/firestore_client.py
  api/storage/recipe_notes_storage.py
  mobile/app/(tabs)/recipes.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  mobile/lib/utils/__tests__/groceryAggregator.test.ts
  mobile/lib/utils/groceryAggregator.ts
  tests/test_api_grocery.py
  tests/test_recipe_notes.py
Due: deptry, ty, tsc-mobile, biome

feat: recipe notes UI on recipe detail screen
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeNotes.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-recipe-notes.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
Due: tsc-mobile, biome

fix: address PR review comments
  api/routers/grocery.py
  api/routers/recipe_notes.py
  api/storage/recipe_notes_storage.py
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/lib/hooks/use-recipe-notes.ts
  tests/test_recipe_notes.py
Due: deptry, ty, tsc-mobile, biome

feat: recipe notes, quick meals in grocery, recipe library toggle (#249)
  api/models/recipe_note.py
  api/routers/__init__.py
  api/routers/grocery.py
  api/routers/recipe_notes.py
  api/routers/recipes.py
  api/storage/__init__.py
  api/storage/firestore_client.py
  api/storage/recipe_notes_storage.py
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/recipe-detail/RecipeContent.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/lib/api/recipes.ts
  mobile/lib/hooks/__tests__/useRecipeNotes.test.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-recipe-notes.ts
  mobile/lib/i18n/locales/en.ts
  mobile/lib/i18n/locales/it.ts
  mobile/lib/i18n/locales/sv.ts
  mobile/lib/types.ts
  mobile/lib/utils/__tests__/groceryAggregator.test.ts
  mobile/lib/utils/groceryAggregator.ts
  tests/test_api_grocery.py
  tests/test_recipe_notes.py
Due: deptry, ty, tsc-mobile, biome

refactor: extract ScreenTitle component from 8 screens
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/select-recipe.tsx
  mobile/components/ScreenTitle.tsx
  mobile/components/grocery/GroceryHeader.tsx
  mobile/components/household-settings/ScreenHeader.tsx
Due: tsc-mobile, biome

fix: use theme tokens for hardcoded spacing, shadow color, and letterSpacing
  mobile/components/ScreenTitle.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: replace hardcoded values with theme tokens in RecipeFilters and RecipeNotes
  .github/instructions/tsx-style-guide.instructions.md
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/lib/theme/colors.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: extract ScreenTitle component from 8 screens (#250)
  .github/instructions/tsx-style-guide.instructions.md
  mobile/app/(tabs)/admin.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/select-recipe.tsx
  mobile/components/ScreenTitle.tsx
  mobile/components/grocery/GroceryHeader.tsx
  mobile/components/household-settings/ScreenHeader.tsx
  mobile/components/recipe-detail/RecipeNotes.tsx
  mobile/components/recipes/RecipeFilters.tsx
  mobile/lib/theme/colors.ts
  mobile/lib/theme/layout.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: extract FullScreenLoading component from 7 screens
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/household-settings.tsx
  mobile/app/no-access.tsx
  mobile/app/review-recipe.tsx
  mobile/app/sign-in.tsx
  mobile/components/FullScreenLoading.tsx
  mobile/components/index.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: extract FullScreenLoading component from 7 screens (#251)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/admin.tsx
  mobile/app/household-settings.tsx
  mobile/app/no-access.tsx
  mobile/app/review-recipe.tsx
  mobile/app/sign-in.tsx
  mobile/components/FullScreenLoading.tsx
  mobile/components/index.ts
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: extract PrimaryButton component from 8 screens
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/add-recipe.tsx
  mobile/app/review-recipe.tsx
  mobile/components/PrimaryButton.tsx
  mobile/components/add-recipe/ManualRecipeForm.tsx
  mobile/components/index.ts
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix: address PR review — displayIcon logic, tests, mock dedup
  mobile/components/PrimaryButton.tsx
  mobile/components/__tests__/PrimaryButton.test.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

refactor: extract PrimaryButton component from 8 files (#252)
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/add-recipe.tsx
  mobile/app/review-recipe.tsx
  mobile/components/PrimaryButton.tsx
  mobile/components/__tests__/PrimaryButton.test.tsx
  mobile/components/add-recipe/ManualRecipeForm.tsx
  mobile/components/index.ts
  mobile/components/meal-plan/GrocerySelectionModal.tsx
  mobile/components/recipe-detail/RecipeActionsFooter.tsx
  mobile/components/select-recipe/RandomTab.tsx
  mobile/test/setup.ts
Due: tsc-mobile, biome

fix(mobile): address PR review comments
  mobile/components/BottomActionBar.tsx
  mobile/components/FormField.tsx
  mobile/components/meal-plan/GrocerySelectionModal.tsx
Due: tsc-mobile, biome
