Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/fpgmaas/deptry
    rev: 0.24.0
    hooks:
      - id: deptry

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, api/, scripts/]

  # TypeScript type check for mobile (requires npm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

feat(mobile): improve meal slot UX with direct action buttons
  api/models/recipe.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/_layout.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/app/settings.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/settings-context.tsx
  mobile/lib/theme.ts
  mobile/lib/types.ts
Due: ty, tsc-mobile

chore: update pre-commit hooks for multi-platform architecture
  .github/skills/working-context/SKILL.md
  .gitignore
  .pre-commit-config.yaml
Due: none

docs: add PR creation to pr-review-workflow activation triggers
  .github/copilot-instructions.md
  .github/skills/pr-review-workflow/SKILL.md
Due: none

feat: enhance meal planning modal, recipe cards, home screen, and image upload
  api/routers/recipes.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/app/settings.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/api.ts
  mobile/lib/settings-context.tsx
  mobile/package-lock.json
  mobile/package.json
  pyproject.toml
  uv.lock
Due: ty, tsc-mobile

feat(mobile): add edit mode for recipe details
  mobile/app/recipe/[id].tsx
Due: tsc-mobile

fix(mobile): move edit button to visible location in recipe content
  mobile/app/recipe/[id].tsx
Due: tsc-mobile

style(mobile): change inspiration section to blue pastel theme
  mobile/app/(tabs)/index.tsx
Due: tsc-mobile

feat: add Terraform infrastructure for GCP resources
  .github/copilot-instructions.md
  .gitignore
  infra/environments/dev/README.md
  infra/environments/dev/access/users.txt.example
  infra/environments/dev/backend.tf
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/environments/dev/versions.tf
  infra/modules/apis/main.tf
  infra/modules/apis/outputs.tf
  infra/modules/apis/variables.tf
  infra/modules/firestore/main.tf
  infra/modules/firestore/outputs.tf
  infra/modules/firestore/variables.tf
  infra/modules/iam/custom_roles.tf
  infra/modules/iam/main.tf
  infra/modules/iam/outputs.tf
  infra/modules/iam/variables.tf
Due: none

feat: add Terraform bootstrap for state bucket
  infra/environments/dev/README.md
  infra/environments/dev/init/README.md
  infra/environments/dev/init/main.tf
  infra/environments/dev/init/terraform.tfvars.example
  infra/environments/dev/init/variables.tf
  infra/environments/dev/init/versions.tf
Due: none

feat(mobile): add random recipe picker and UI enhancements
  .copilot-tasks.md
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/app/settings.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/theme.ts
Due: tsc-mobile

feat: enhance UI with better icons and loading states
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/recipes.tsx
  pyproject.toml
  uv.lock
Due: tsc-mobile

fix: address linting and type errors
  .copilot-tasks.md
  app/main.py
Due: ty

feat(mobile): shopping list improvements
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/components/GroceryListView.tsx
  mobile/package-lock.json
  mobile/package.json
Due: tsc-mobile

feat: add Workload Identity Federation for GitHub Actions
  .github/workflows/firebase-hosting.yml
  infra/environments/dev/main.tf
  infra/environments/dev/outputs.tf
  infra/environments/dev/variables.tf
  infra/modules/apis/main.tf
  infra/modules/apis/outputs.tf
  infra/modules/iam/main.tf
  infra/modules/iam/outputs.tf
  infra/modules/workload_federation/main.tf
  infra/modules/workload_federation/outputs.tf
  infra/modules/workload_federation/variables.tf
Due: none

fix: remove unused imports and variables
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
Due: tsc-mobile

fix: use correct SHA for actions/setup-node v4
  .github/workflows/firebase-hosting.yml
Due: none

fix: downgrade tailwindcss to v3 for NativeWind compatibility
  mobile/package.json
Due: none

fix: address Copilot review comments
  api/routers/recipes.py
  api/storage/recipe_storage.py
  mobile/app/(tabs)/index.tsx
  mobile/app/recipe/[id].tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-recipes.ts
Due: ty, tsc-mobile

fix: update package-lock.json for tailwindcss v3
  mobile/package-lock.json
  mobile/package.json
Due: none

fix: resolve lint errors properly
  api/routers/recipes.py
  app/main.py
Due: ty

feat(mobile): Random recipe picker and UI enhancements (#40)
  .copilot-tasks.md
  api/models/recipe.py
  api/routers/recipes.py
  api/storage/recipe_storage.py
  app/main.py
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/_layout.tsx
  mobile/app/recipe/[id].tsx
  mobile/app/select-recipe.tsx
  mobile/app/settings.tsx
  mobile/components/GroceryListView.tsx
  mobile/components/MealGrid.tsx
  mobile/components/RecipeCard.tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/settings-context.tsx
  mobile/lib/theme.ts
  mobile/lib/types.ts
  mobile/package-lock.json
  mobile/package.json
  pyproject.toml
  uv.lock
Due: ty, tsc-mobile

fix: use firebase CLI directly instead of action for WIF auth
  .github/workflows/firebase-hosting.yml
Due: none

feat(mobile): UI polish improvements
  .copilot-tasks.md
  mobile/app/(tabs)/index.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/GroceryListView.tsx
  mobile/lib/haptics.ts
  mobile/package-lock.json
  mobile/package.json
Due: tsc-mobile

chore: add firebase hosting config files
  mobile/.firebaserc
  mobile/firebase.json
Due: none

fix: add build caching and set NODE_ENV=production for web build
  .github/workflows/firebase-hosting.yml
Due: none

fix: use EXPO_PUBLIC_API_URL for web and cache Firebase CLI
  .github/workflows/firebase-hosting.yml
  mobile/lib/api.ts
Due: tsc-mobile

feat: add local-development skill and fix grocery state persistence
  .github/copilot-instructions.md
  .github/skills/local-development/SKILL.md
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/_layout.tsx
  mobile/lib/grocery-context.tsx
  mobile/lib/hooks/index.ts
  scripts/run-dev.sh
Due: tsc-mobile
