Repository SkaneTrails/meal-planner: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc-mobile

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

default_stages:
  - pre-commit

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=150]
        exclude: ^mobile/
      - id: detect-private-key
      - id: debug-statements

  # Validate GitHub Actions workflows
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/fpgmaas/deptry
    rev: 0.24.0
    hooks:
      - id: deptry

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        files: \.(json|markdown|md|yaml|yml|toml)$
        exclude: ^(renovate\.json|\.github/copilot-instructions\.md|\.github/skills/.*)$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
      - id: uv-sync
        stages:
          - post-checkout
          - post-merge
          - post-rewrite

  # Ty type checker
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        args: [app/, api/, scripts/]

  # TypeScript type check for mobile (requires npm install in mobile/)
  - repo: local
    hooks:
      - id: tsc-mobile
        name: TypeScript (mobile)
        entry: bash -c "test -f mobile/node_modules/.bin/tsc && cd mobile && node_modules/.bin/tsc --noEmit || true"
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

chore: refine recipe skill, add upload command, fix Firebase config (#67)
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/household-config.md
  infra/modules/firebase/main.tf
  scripts/recipe_enhancer.py
  scripts/recipe_reviewer.py
Due: ty

feat: add AI-enhanced recipe toggle (#69)
  api/models/recipe.py
  api/storage/recipe_storage.py
  mobile/app/recipe/[id].tsx
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/types.ts
  scripts/create_recipe.py
Due: ty, tsc-mobile

docs: add no-consolidation rule to SKILL.md and Gemini prompt
  .github/skills/recipe-improvement/SKILL.md
  scripts/check_consolidation.py
  scripts/recipe_enhancer.py
Due: ty

feat: strengthen Gemini prompt for ingredient handling
  scripts/recipe_enhancer.py
  scripts/validate_gemini.py
Due: ty

feat: add modular prompt system for Gemini recipe enhancement
  .github/copilot-instructions.md
  api/models/recipe.py
  api/routers/recipes.py
  api/services/prompt_loader.py
  api/services/recipe_enhancer.py
  api/storage/recipe_storage.py
  config/prompts/core/base.md
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  config/prompts/user/dietary.md
  config/prompts/user/equipment.md
  scripts/recipe_enhancer.py
  scripts/validate_gemini.py
Due: ty

feat(infra): store Gemini API key in Secret Manager
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/cloud_run/main.tf
  infra/modules/cloud_run/variables.tf
  infra/modules/secrets/main.tf
  infra/modules/secrets/outputs.tf
  infra/modules/secrets/variables.tf
Due: none

refactor(infra): remove gemini_api_key_exists toggle
  infra/environments/dev/main.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/secrets/outputs.tf
  infra/modules/secrets/variables.tf
Due: none

fix: address Copilot review comments
  .github/copilot-instructions.md
  mobile/app/(tabs)/index.tsx
  mobile/lib/grocery-context.tsx
  mobile/lib/haptics.ts
Due: tsc-mobile

fix: address remaining Copilot review comments
  .copilot-tasks.md
  mobile/app/(tabs)/index.tsx
  scripts/run-dev.sh
Due: tsc-mobile

feat: conditional Firebase init for local dev mode
  .copilot-tasks.md
  .github/copilot-instructions.md
  .github/skills/local-development/SKILL.md
  .gitignore
  mobile/lib/firebase.ts
  mobile/lib/hooks/use-auth.tsx
Due: tsc-mobile

feat: UI polish and grocery state fixes (#70)
  .github/copilot-instructions.md
  .github/skills/local-development/SKILL.md
  .gitignore
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/_layout.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/GroceryListView.tsx
  mobile/lib/firebase.ts
  mobile/lib/grocery-context.tsx
  mobile/lib/haptics.ts
  mobile/lib/hooks/index.ts
  mobile/lib/hooks/use-auth.tsx
  mobile/package-lock.json
  mobile/package.json
  scripts/run-dev.sh
Due: tsc-mobile

feat: Add GCS bucket infrastructure for recipe image uploads
  .github/copilot-instructions.md
  infra/environments/dev/main.tf
  infra/environments/dev/variables.tf
  infra/modules/apis/main.tf
  infra/modules/apis/outputs.tf
  infra/modules/cloud_run/main.tf
  infra/modules/cloud_run/variables.tf
  infra/modules/storage/main.tf
  infra/modules/storage/outputs.tf
  infra/modules/storage/variables.tf
Due: none

feat: Add thumbnail processing for recipe image uploads
  api/routers/recipes.py
Due: ty

feat: add client-side recipe scraping and AI enhancement
  .github/copilot-instructions.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/household-config.md
  .gitignore
  api/models/recipe.py
  api/routers/recipes.py
  api/services/recipe_enhancer.py
  api/storage/recipe_storage.py
  config/prompts/core/formatting.md
  config/prompts/core/rules.md
  docs/DEVELOPMENT.md
  functions/scrape_recipe/main.py
  functions/scrape_recipe/recipe_scraper.py
  infra/environments/dev/main.tf
  infra/environments/dev/outputs.tf
  infra/modules/cloud_function/main.tf
  infra/modules/cloud_function/outputs.tf
  infra/modules/cloud_function/variables.tf
  infra/modules/cloud_run/main.tf
  infra/modules/cloud_run/variables.tf
  mobile/app/add-recipe.tsx
  mobile/app/recipe/[id].tsx
  mobile/lib/api.ts
  mobile/lib/hooks/use-recipes.ts
  mobile/lib/types.ts
  scripts/recipe_reviewer.py
  tests/test_api_recipes.py
  tests/test_prompt_loader.py
  tests/test_recipe_enhancer.py
  tests/test_recipe_storage.py
Due: ty, tsc-mobile

chore: delete Streamlit app, optimize CI triggers
  .github/copilot-instructions.md
  .github/workflows/security-checks.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .streamlit/config.toml
  README.md
  app/__init__.py
  app/assets/icons/README.md
  app/assets/images/logo.png
  app/assets/images/logo1.png
  app/icons.py
  app/main.py
  app/models/__init__.py
  app/models/grocery_list.py
  app/models/meal_plan.py
  app/models/recipe.py
  app/services/__init__.py
  app/services/ingredient_parser.py
  app/services/recipe_scraper.py
  app/storage/__init__.py
  app/storage/firestore_client.py
  app/storage/meal_plan_storage.py
  app/storage/recipe_storage.py
  docs/DEVELOPMENT.md
  pyproject.toml
  tests/conftest.py
  tests/test_api_grocery.py
  tests/test_api_grocery_list.py
  tests/test_api_meal_plan.py
  tests/test_api_meal_plans.py
  tests/test_grocery_list.py
  tests/test_ingredient_parser.py
  tests/test_meal_plan_storage.py
  tests/test_recipe.py
  uv.lock
Due: ty

fix: coverage config for parallel pytest workers
  .github/workflows/tests.yml
  pyproject.toml
Due: none

chore: add pragma: no cover to untestable Firebase/GCS code
  api/routers/recipes.py
  api/storage/meal_plan_storage.py
Due: ty

chore: add pragma: no cover to Firebase/Firestore/Gemini init code
  api/auth/firebase.py
  api/main.py
  api/services/recipe_enhancer.py
  api/storage/firestore_client.py
  api/storage/recipe_storage.py
Due: ty

chore: improve Copilot config structure and add recovery script
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/working-context/SKILL.md
  .github/terraform.instructions.md
  scripts/upload_enhanced_recipe.py
Due: ty

chore: improve iteration tracking wording and fix trailing whitespace
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/working-context/SKILL.md
  mobile/app/(tabs)/index.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/GroceryListView.tsx
  mobile/lib/grocery-context.tsx
Due: tsc-mobile

chore: improve Copilot config structure and add recovery script (#75)
  .github/copilot-instructions.md
  .github/skills/copilot-self-improvement/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/working-context/SKILL.md
  .github/terraform.instructions.md
  mobile/app/(tabs)/index.tsx
  mobile/app/recipe/[id].tsx
  mobile/components/GroceryListView.tsx
  mobile/lib/grocery-context.tsx
  scripts/upload_enhanced_recipe.py
Due: ty, tsc-mobile

feat/recipe image upload (#76)
  .github/copilot-instructions.md
  api/routers/recipes.py
  infra/environments/dev/main.tf
  infra/environments/dev/variables.tf
  infra/modules/apis/main.tf
  infra/modules/apis/outputs.tf
  infra/modules/cloud_run/main.tf
  infra/modules/cloud_run/variables.tf
  infra/modules/storage/main.tf
  infra/modules/storage/outputs.tf
  infra/modules/storage/variables.tf
Due: ty

feat: improve recipe display with structured instructions
  .github/copilot-instructions.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/household-config.md
  .github/workflows/firebase-hosting.yml
  api/models/recipe.py
  config/prompts/core/formatting.md
  config/prompts/user/equipment.md
  mobile/app/recipe/[id].tsx
  mobile/lib/types.ts
  scripts/recipe_reviewer.py
  tests/test_instruction_parser.py
Due: ty, tsc-mobile

feat: improve recipe display with structured instructions (#78)
  .github/copilot-instructions.md
  .github/skills/recipe-improvement/SKILL.md
  .github/skills/recipe-improvement/household-config.md
  .github/workflows/firebase-hosting.yml
  api/models/recipe.py
  config/prompts/core/formatting.md
  config/prompts/user/equipment.md
  mobile/app/recipe/[id].tsx
  mobile/lib/types.ts
  scripts/recipe_reviewer.py
  tests/test_instruction_parser.py
Due: ty, tsc-mobile

fix: update setup-node action to v6.2.0
  .github/workflows/firebase-hosting.yml
Due: none

fix: update setup-node action to v6.2.0 (#80)
  .github/workflows/firebase-hosting.yml
Due: none

feat(mobile): critical UI fixes and new features
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/grocery.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/meal-plan.tsx
  mobile/app/(tabs)/recipes.tsx
  mobile/app/select-recipe.tsx
Due: tsc-mobile

docs: add reminder to always start API when debugging mobile app
  .github/skills/local-development/SKILL.md
Due: none
